#map {
  height: 550px;
  width: 380%;
  max-width: 730px;
  //margin-bottom: 1rem;
  //margin-top: 20px;
  margin: auto;

}
.mapaselect{
  font-size: 30px;
  padding-left: 16px;
  color: #2f8be6;
}

.card .bg-info {
  margin: 0;
  background-color: #2F8BE6 !important;
  margin-bottom: 1;
}


  .commentariosDesing {
    display: flex;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 10px;
    .comment-label {
      line-height: 1;
      .UserName {
        font-weight: 500;
        font-size: 1.20rem;
        color: #020101;
      }
      .FechaComentario {
        font-weight: 100;
        color: #050505;
      }
    }
    .comentarios {
      color: #768791;
      margin-top: 0.1rem;

    }

  }

  .modal-body{
    position: relative;
  }

.accionesClass{
  position: absolute;
}

  .tooltipView {
    visibility: hidden;
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltipView .visible {
  display: inline-block;
  visibility: visible;
}
.tooltipView .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltipView .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltipView:hover .tiptext {
    visibility: visible;
}


.ShowData{
  right: 0;
  top: 50%;

}

.verDetalles:hover {
  background-color: #2F8BE6;
}








