<!--Noel why is this style into this file?-->
<!-- <script src="sweetalert2.all.min.js"></script> -->

<style>
  .my-drop-zone {
    border: dotted 3px lightgray;
  }

  .nv-file-over {
    border: dotted 3px red;
  }

  /* Default class applied to drop zones on over */
  .another-file-over-class {
    border: dotted 3px green;
  }
</style>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<ng-container>

  <div class="row">
    <div class="col-12 ">
      <div class="w-100 d-flex justify-content-end ">
        <a *ngIf="usuarioPermisos?.includes('MANAGE') || usuarioPermisos.includes('POST')"
          [routerLink]="['/demandas/registroDemandas']" data-toggle="tooltip" data-placement="bottom"
          title="Nueva Demanda" class="btn btn btn-primary btn-sm ml-1 "><i class="fa fa-plus-circle"> Agregar
            nueva</i></a>

        <a id="tableRefresh" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom"
          title="Actualizar tabla" class="btn btn btn-info btn-sm ml-1"><i class="fa fa-refresh"></i></a>

      </div>
    </div>
  </div>

  <!-- Filter Datatables -->
  <section id="ngx-datatable-filter">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title ml-2">Listado de demandas</h4>
          </div>
          <div class="card-content">
            <div class="card-body">

              <div class="col-md-12 mb-2">
                <app-data-filter *ngIf="!loadingIndicator" [filtros]="filtros" (filterEvent)="getFilters($event)">
                </app-data-filter>
              </div>

              <div class="col-md-10">
                <div class="w-100 d-flex left-content-end">
                  <ng-select [items]="limitSelect" bindLabel="label" bindValue="value"
                    (change)="_changeRowLimits($event)" name="limit" id="limit" [(ngModel)]="limitSelected"
                    style="width: 25%;" [clearable]="false">
                  </ng-select>
                  <a (click)="exportexcel()" data-toggle="tooltip" data-placement="bottom"
                    title="Exportar listado actual en Excel" class="btn btn btn-success btn-sm ml-1">
                    <i class="fa fa-file-excel-o"> Exportar Excel</i>
                  </a>
                  <label for="verMapa" class="ml-2 mt-1 "><strong>Mostrar listado actual en
                      mapa</strong></label><a (click)="SeleccioneMapa(contentMapa)" title="Ver listado en el mapa"><i
                      class="fa fa-map-marker mapaselect " aria-hidden="true "></i></a>
                </div>
              </div><br>

              <div class="col-md-12">
                <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns"
                  [columnMode]="ColumnMode.force" [headerHeight]="10" [footerHeight]="50" [externalPaging]="true"
                  [externalSorting]="false" [count]="page.count" [offset]="page.offset" [limit]="page.limit"
                  [sortType]="'single'" (page)="pageCallback($event)" rowHeight="auto" [reorderable]="reorderable">
                  <ngx-datatable-column *ngFor="let column of columns; let i = index" name="{{column?.name}}"
                    [sortable]="column?.sortable"  prop="{{column?.prop}}" >


                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                      <div (click)="onMoving(row)" (mouseleave)="tooltikView = false">
                        <span
                          *ngIf="column?.prop != 'institucionesInvolucradas' && column?.prop != 'nombreEstadoValidacion' && column?.prop != 'prioridadProvincial' && column?.prop != 'nombreTipoDemanda'">
                          {{value}}
                        </span>
                      </div>
                      <div   *ngIf="column?.prop == 'institucionesInvolucradas'" >
                        <ng-container *ngIf="row?.institucionesInvolucradas && row?.institucionesInvolucradas.length > 0; else pendiente" >
                          <div *ngFor="let institucion of row.institucionesInvolucradas" >
                            <div class="badge badge-pill" [ngClass]="estadoUtils.getEstadoClass(institucion.estadoId)">
                              {{ institucion.nombreEstado || "Pendiente asignar sectorial" }}
                            </div>
                          </div>
                        </ng-container>
                        <ng-template #pendiente >
                          <div class="badge badge-pill bg-secondary">
                            Pendiente asignar sectorial
                          </div>
                        </ng-template>
                      </div>
                  
                      <div
                        *ngIf="column.prop == 'nombreTipoDemanda' && gruposUsuario.includes(this.rolesEnum?.institucionalRUDT) == false && gruposUsuario.includes(this.rolesEnum?.soloLectura) == false"
                        class="badge badge-pill"
                        [ngClass]="{ 'bg-warning':value == 'Nueva', 'bg-info':value == 'Consolidada', 'bg-success':value == 'Resultante de Consolidacion', 'bg-primary':value == 'Original sin cambios', 'bg-secondary':value == 'Original modificada', 'bg-dark':value == 'Resultante modificacion'}">
                        {{ value }}

                      </div>
                      <div
                        *ngIf="column?.prop == 'nombreEstadoValidacion' && gruposUsuario.includes(this.rolesEnum?.institucionalRUDT) == false"
                        class="badge badge-pill"
                        [ngClass]="{'bg-danger': value == 'Devuelta por DGDES', 'bg-warning':value == 'Validada por VIOTDR', 'bg-success':value == 'Validada por DGDES', 'bg-primary':value == 'Registrada por ORP', 'bg-info': value == 'Devuelta por VIOTDR','bg-dark':value == 'Rechazada - no competencia de sectorial'}">
                        {{ value }}
                      </div>
                      <div
                        *ngIf="column?.prop == 'prioridadProvincial' && gruposUsuario.includes(this.rolesEnum?.institucionalRUDT) == true"
                        class="badge badge-pill"
                        [ngClass]="{ 'bg-warning':value == 'Prioridad alta', 'bg-info':value == 'Prioridad media', 'bg-success':value == 'Prioridad baja', 'bg-danger': value == '' }">
                        {{value == '' ? "No Aplicada" : value }}
                      </div>
                      <div
                        *ngIf="column?.prop == 'acciones' && gruposUsuario.includes(this.rolesEnum?.institucionalRUDT) == false"
                        class="badge badge-pill">

                      </div>
                    </ng-template>
                  </ngx-datatable-column>


                  <ngx-datatable-column name="Acciones">

                    <ng-template class="accionesClass" let-row="row" ngx-datatable-cell-template>
                      <div (mouseenter)="tooltikView = true" (mouseleave)="tooltikView = false">
                        <div *ngIf="i == hoverIndex" class="card-body item-body">...</div>
                      </div>
                      <a *ngIf="usuarioPermisos?.includes('MANAGE') || usuarioPermisos?.includes('GET')"
                        class="btn-sm      btn-warning text-white  ft-eye"
                        (click)="openVerticallyCentered2(content,row.id)" title="Ver detalles"></a>
                      <!-- <a *ngIf="usuarioPermisos.includes('MANAGE') || usuarioPermisos.includes('GET')"
                      class="btn-sm      btn-info text-white  ft-file-plus" (click)="openFileModal(row.id)"
                      title="Cargar evidencia"></a> -->
                      <a *ngIf="usuarioPermisos?.includes('MANAGE')" class="btn-sm ml-1 btn-success text-white ft-edit"
                        (click)="editar(row?.id)" title="Editar"></a>
                      <a *ngIf="usuarioPermisos?.includes('MANAGE') || usuarioPermisos?.includes('DELETE')"
                        class="btn-sm ml-1 btn-danger text-white ft-trash-2" (click)="eliminar(row?.id)"
                        title="Eliminar"></a>
                      <a *ngIf="usuarioPermisos?.includes('MANAGE') || usuarioPermisos?.includes('PUT')"
                        class="btn-sm ml-1 btn-primary text-white ft-more-vertical"
                        (click)="openVerticallyCentered(content,row?.id)" title="Cambiar estados"></a>
                      <!-- temporalmente desactivado -->
                      <a *ngIf="gruposUsuario?.includes(this.rolesEnum?.DGDES)
                          ||gruposUsuario?.includes(this.rolesEnum?.administradoresRUDT) "
                        class="btn-sm ml-1 btn-primary text-white ft-cloud" (click)="verArchivos(row.id)"
                        [class.no-event]="!row.demandaAnexos.length > 0" title=" Ver archivos"></a>

                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                      let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                      let-isVisible="isVisible">
                      <div class="page-count">
                        Mostrando {{(offset * pageSize)+1}} a {{(rowCount>
                        (curPage*pageSize))?(curPage*pageSize):(rowCount)}} de
                        {{(rowCount)}} registros.
                      </div>
                      <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                      </datatable-pager>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Filter Datatables -->

  <!-- modalStart -->

  <UIModal [modalOption]="modalOption" [modalConfig]="modalConfig" #modalFile>
    <form (submit)="submit()" [formGroup]="estadoForm">

      <!-- <div class="row"> -->
      <div class="col-sm-12">
        <div class="form-group">
          <label for="estado">Estado</label>
          <ng-select [appendTo]="'body'" [items]="(listadoEstados | async)" bindLabel="name" bindValue="id"
            name="estado" id="estado" (change)="estadoChange()" placeholder="Seleccione estado"
            formControlName="estado">
          </ng-select>

          <!-- <pre>{{listadoEstados | async | json}}</pre> -->

          <div *ngIf="EF.estado?.invalid && (EF.estado?.dirty || EF.estado?.touched)"
            class="help-block mt-1 text-danger">

            <div *ngIf="EF.estado?.errors.required">
              <i class="ft-alert-circle align-middle"></i> El campo es requerido
            </div>

          </div>
        </div>
      </div>

      <ng-template #estadoDefault>

      </ng-template>

      <!-- </div> -->

      <div class="col-sm-12"
        *ngIf="EF.estado?.value == this.estadoEjecucionEnum?.incluidoEnPEI && gruposUsuario?.includes(this.rolesEnum?.institucionalRUDT) == true">
        <div class="form-group">
          <label for="codigoPei">Codigo PEI</label>
          <input type="text" class="form-control" name="codigoPei" id="codigoPei" rows="3" formControlName="codigoPei">
        </div>
      </div>

      <!-- <div class="row" > -->
      <div class="col-sm-12"
        *ngIf="EF.estado?.value == this.estadoEjecucionEnum?.programadoEnPOA && gruposUsuario?.includes(this.rolesEnum?.institucionalRUDT) == true">
        <div class="form-group">
          <label for="codigoPoa">Producto poa</label>
          <input type="text" class="form-control" name="codigoPoa" id="codigoPoa" rows="3" formControlName="codigoPoa">

        </div>
      </div>

      <div class="col-sm-12"
        *ngIf="EF.estado?.value == this.estadoEjecucionEnum?.enProcesoDeEjecucion && gruposUsuario?.includes(this.rolesEnum?.institucionalRUDT) == true">
        <div class="form-group">
          <label for="codigoSnip">Codigo Snip</label>
          <input type="text" class="form-control" name="codigoSnip" id="codigoSnip" rows="3"
            formControlName="codigoSnip">
        </div>
      </div>


      <!-- <div class="row" > -->
      <div class="col-sm-12" *ngIf="EF.estado?.value != null">

        <div class="row ">
          <h5 class="mt-1 mb-0 col-11">Sección de comentarios</h5>
          <div class="col-md-1 mb-0">
            <div class="form-group">
              <a data-toggle="tooltip " data-placement="bottom " (click)="openModalComentario(contentComentario)"
                title="Agregar Comentario " class="btn btn-primary "><i class="ft-plus "></i></a>
            </div>
          </div>
        </div>

        <hr class="mt-0 mb-0">
        <div *ngIf="!ComentariosList?.length > 0" class="col-sm-12 mt-1 alert alert-secondary text-center" role="alert">
          No hay comentarios
        </div>
        <ngb-accordion class="ml-0" *ngIf="ComentariosList?.length > 0">
          <ngb-panel id="static-1" class="ml-0">

            <ng-template ngbPanelTitle>
              <div class="alert alert-primary d-flex align-items-center justify-content-between" role="alert">
                <span><i class="ft-list "></i> <b> Historial comentarios</b></span>
              </div>
            </ng-template>

            <!--listado de comentarios-->
            <ng-template ngbPanelContent>
              <div class="grid-cols-3 mb-3">
                <div *ngFor="let List of ComentariosList" class="card card-inverse bg-info">
                  <div class="card-content">
                    <p class="ShortName mb-0" value>({{List?.institucionShortname}})</p>
                    <div class="d-flex align-items-center justify-content-between w-100 px-3 py-2">
                      <p class="UserName" value>{{List?.userName}}</p>
                      <p class="FechaComentario text-sm"> - {{List?.fechaRegistro | date}}</p>
                    </div>
                    <div class="card-body px-3 py-1">
                      <div class="comentarios">
                        {{List?.comentrio}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>

      <!-- </div> -->

      <div class="col-12"
        *ngIf="gruposUsuario?.includes(this.rolesEnum?.institucionalRUDT) && EF.estado?.value > this.estadoEjecucionEnum?.reasignacionSectorial">
        <Randy-File #randyFile [withModal]="false" [demandaString]="demandaString"  [isDetail]="isDetail" [anexoDataDb]="files.length> 0 ?files : []"
          (onSubmit)="saveFiles($event)" (deleteFileExisting)="removeFile($event)"></Randy-File>
      </div>

      <div class="modal-footer">
        <a [routerLink]="['/demandas']" class="btn btn-primary" (click)="closeModalSimple()"><span>Volver a
            listado</span>
        </a>

        <input type="button" value="Continuar" class="btn btn-success" [disabled]="estadoForm?.invalid"
          (click)="closeModal()">
      </div>


      <UIModal [modalOption]="modalOptionFiles" [modalConfig]="modalConfigFiles" #modalFiles>

        <Randy-File #randyFile [anexoDataDb]="files" [demandaString]="demandaString"  [isDetail]="true" [modalRef]="modalFiles"></Randy-File>



      </UIModal>

      <!-- Modal Lista de Comentarios -->

      <ng-template #contentComentario let-modal>
        <div class="modal-header ">
          <h4 class="modal-title ">Agregar comentario</h4>
          <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div class="col-sm-12 ">
            <div class="form-group ">
              <label for="comentario">Comentario</label>
              <textarea class="form-control " name="comentario" id="comentario" rows="3"
                formControlName="comentarios"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button " title="Agregar Comentario " class="btn btn-primary" (click)="agregarComentario()"><i
              class=" fa fa-plus-circle "> Agregar</i></button>

          <button type="button " class="btn btn-light " (click)="modal.close( 'Close click') "><i class="fa fa-close ">
              Cerrar</i></button>
        </div>
      </ng-template>



    </form>
  </UIModal>


  <!--modal mapa-->

  <div class="row">
    <ng-template #contentMapa let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Vista geográfica de selección</h4>
        <button type="button" class="close" aria-label="Close"
          (click)="modal.dismiss('Cross click'); this.isModalOpen = false;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-content">
          <div class="card-body">
            <div class="col-xl-12 col-lg-12 col-12">
              <div id="map" leaflet [leafletOptions]="options" [leafletLayers]="capas">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
          (click)="modal.close('Close click');this.isModalOpen = false;">Aceptar</button>
      </div>
    </ng-template>

  </div>

  <!--End modal mapa-->

  <!-- ModalAnexoDemanda -->

  <div class="row">
    <ng-template let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Evidencia De Demandas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Aceptar</button>
        <button type="button" class="btn btn-success" (click)="submitData()">Guardar</button>
      </div>
    </ng-template>

  </div>

  <!--end ModalAnexoDemanda-->

  <!--modal detalles fixed-->
  <UIModal [modalOption]="modalOption" [modalConfig]="modalConfig" #modalDetalles>
    <app-detalle-demandas [idExterno]="demandaId" [isAbierto]="abierto" #Detalles></app-detalle-demandas>
    <div class="modal-footer">

      <input type="submit" value="Volver al listado" class="btn btn-primary" (click)="closeModal2()">
    </div>

  </UIModal>
  <!--end modal fixed-->


</ng-container>
