<div class="row">
    <div class="col-12 ">
      <div class="w-100 d-flex justify-content-end ">
        <a [routerLink]="['/demandas/registroDemandas']" data-toggle="tooltip" data-placement="bottom"
          title="Nueva Demanda" class="btn btn btn-primary btn-sm ml-1 "><i class="fa fa-plus-circle"> Agregar
            nuevo video</i></a>
      </div>
    </div>
  </div>

<app-listado-videos></app-listado-videos>
<hr>
<div class="row">
  <div class="col-12 ">
    <div class="w-100 d-flex justify-content-end ">
      <a [routerLink]="['Create']" data-toggle="tooltip" data-placement="bottom"
        title="Nueva Documento" class="btn btn btn-primary btn-sm ml-1 "><i class="fa fa-plus-circle"> Agregar
          nuevo documento</i></a>
    </div>
  </div>
</div>

  <a>KLK</a>