<h1>Documentos</h1>


<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <a  *ngIf="mostrarBoton" [routerLink]="['Create']" data-toggle="tooltip" data-placement="bottom"
        title="Nuevo Documento" class="btn btn-primary btn-sm ml-1">
        <i class="fa fa-plus-circle"></i> Agregar nuevo documento
      </a>
      <a [routerLink]="['listadovideo']" data-toggle="tooltip" data-placement="bottom"
        title="Nuevo Video" class="btn btn-primary btn-sm ml-1">
        <i class="fa fa-plus-circle"></i> Ver Videos
      </a>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card-deck mt-3">
    <ng-container *ngFor="let nombreArchivo of photo; let i = index">
      <div [ngClass]="{'col-lg-4': photo.length <= 3, 'col-lg-3': photo.length > 4, 'col-lg-12': photo.length === 1, 'col-lg-6': photo.length === 2}" class="mt-3">
        <div class="card mb-3">
          <img [src]="nombreArchivo" alt="Imagen" class="card-img tamanio">
          <div class="card-body">
            <p class="card-text">Documentos de inducción</p>
            <h5 class="card-title">{{ documentname[i]}}</h5>
            <div class="card">
              <a [href]="documentpath[i]" target="_blank" class="btn btn-primary">Descargar</a>
              <br>
              <a *ngIf="mostrarBoton" (click)="editar(id[i])" target="_blank" class="btn btn-success">Editar</a>
              <br>
              <a *ngIf="mostrarBoton"(click)="eliminar(id[i])" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ngb-pagination
  [collectionSize]="page.count"
  [(page)]="page.offset"
  (pageChange)="onPageChange($event)"
  aria-label="Default pagination">
</ngb-pagination>
<pre>Estas en la página: {{ this.page.offset }}</pre>



