<!-- start -->
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Detalles de demanda</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">

            <div class="div">
              <div class="row">
                <div class="col-sm-6">
                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Codigo demanda: </span>
                          <label for="CodigoDemanda">{{demanda.CodigoDemanda}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Año: </span>
                          <label for="año">{{demanda['Año']}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Region: </span>
                          <label for="region">{{demanda.Region}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Provincia: </span>
                          <label for="provincia">{{demanda.Provincia}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Municipio: </span>
                          <label for="municipio">{{demanda.Municipio}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Distrito Municipal: </span>
                          <label for="distrito">{{demanda.DistritoMunicipal}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Origen: </span>
                          <label for="origen">{{demanda.OrigenDemanda}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Demanda: </span>
                          <label for="Demanda">{{demanda.Demanda}}</label>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Eje: </span>
                          <label for="eje">{{demanda.EjeEND}}</label>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">ObjetivoEND: </span>
                          <label for="objetivo">{{demanda.ObjetivoEND}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Institucion Responsable: </span>
                          <label for="InstitucionResponsable">{{demanda.InstitucionResponsable}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">TecnicoOMPP: </span>
                          <label for="TecnicoOMPP">{{demanda.TecnicoOMPP}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Estado Ejecucion: </span>
                          <label for="EstadoEjecucion">{{demanda.EstadoEjecucion}}</label>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Beneficiarios Directos (Familias): </span>
                          <label for="BeneficiariosDirectos(Familias)">{{demanda['BeneficiariosDirectos(Familias)']}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Beneficiarios Directos (Personas): </span>
                          <label for="BeneficiariosDirectos(Personas)">{{demanda['BeneficiariosDirectos(Personas)']}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary"> Beneficiarios Indirectos (Familias): </span>
                          <label
                            for="BeneficiariosIndirectos(Familias)">{{demanda['BeneficiariosIndirectos(Familias)']}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Beneficiarios Indirectos (Personas): </span>
                          <label
                            for="BeneficiariosIndirectos(Personas)">{{demanda['BeneficiariosIndirectos(Personas)']}}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <span class="primary">Comentarios: </span>
                          <label for="Comentarios">{{demanda.Comentarios}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<div>
  <a [routerLink]="['/demandas']" class="btn btn-primary"><span>Volver a listado</span>
  </a>

</div>
