<!-- start -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Detalles de demanda</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <h5 class="danger" *ngIf="notFound">
            Esta demanda territorial no existe.
          </h5>
          <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1" *ngIf="demanda != null">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle>
                <span><i class="ft-info mr-1"></i> <b>Información general</b></span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-12" *ngIf="demanda?.codigo">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Código demanda: </span>
                          <label for="CodigoDemanda">{{demanda?.codigo}}</label>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.anio">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Año: </span>
                          <label for="año">{{demanda?.anio}}</label>
                        </div>
                      </div>

                      <div class="col-12" *ngIf="demanda?.descripcion">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Demanda: </span>
                          <label for="demandaDescripcion">{{demanda?.descripcion}}</label>
                        </div>
                      </div>

                      <div class="col-12" *ngIf="demanda?.detalle">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Detalles: </span>
                          <textarea class="form-control" readonly cols="30" rows="4"
                            [value]="demanda?.detalle"></textarea>
                        </div>
                      </div>

                      <!-- <div class="col-12">
                        <div class="form-group">
                          <span class="danger font-weight-bold"> </span>
                          <div *ngFor="let item of demanda.demandaActividades">
                            <label for="actividades">{{item.numero}} - {{item.descripcion}}</label>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-12" *ngIf="demanda?.nombreTemaComun">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Clasificador funcional: </span>
                          <label for="subFuncion">{{demanda?.nombreTemaComun}}</label>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.temaComunTema">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Tema común: </span>
                          <label for="temaComun">{{demanda?.temaComunTema}}</label>
                        </div>
                      </div>
                      <!-- <div class="col-12" *ngIf="demanda.nombreInstitucionResponsable">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Institución responsable: </span>
                          <label for="InstitucionResponsable">{{demanda.nombreInstitucionResponsable}}</label>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-4" *ngIf="demanda?.nombreRegion">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Región: </span>
                          <label for="region">{{demanda?.nombreRegion}}</label>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="demanda?.nombreProvincia">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Provincia: </span>
                          <label for="provincia">{{demanda?.nombreProvincia}}</label>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="demanda?.municipioId">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Municipio: </span>
                          <label for="municipio">{{demanda?.nombreMunicipio}}</label>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.direccion">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Dirección: </span>
                          <label for="direccion">{{demanda?.direccion}}</label>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.nombreFuenteDemanda">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Fuente de la demanda: </span>
                          <label for="fuente">{{demanda?.nombreFuenteDemanda}}</label>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="demanda?.prioridad">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Prioridad: </span>
                          <label for="Prioridad">{{demanda?.prioridad}}</label>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="demanda?.prioridadProvincial">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Prioridad provincial: </span>
                          <label for="Prioridad">{{demanda?.prioridadProvincial}}</label>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="demanda?.nombreTipoDemanda">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Tipo Demanda: </span>
                          <label for="TipoDemanda">{{demanda?.nombreTipoDemanda}}</label>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="demanda?.nivelDemanda">
                        <div class="form-group" *ngIf="demanda?.nivelDemanda == 'Municipales';else other_content">
                          <span class="danger font-weight-bold">Escala territorial: </span>
                          <label for="Nivel">MUNICIPAL</label>
                        </div>
                        <ng-template class="form-group" #other_content>
                          <span class="danger font-weight-bold">Escala territorial: </span>
                          <label for="Nivel">PROVINCIAL</label>
                        </ng-template>
                      </div>
                      <div class="col-4" *ngIf="demanda?.nombreTipoInversion || demanda?.otroTipoInversion ">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Tipo de inversión: </span>
                          <br />
                          <span class="badge badge-pill badge-primary mr-1 mt-1">{{demanda?.otroTipoInversion == null ?
                            demanda?.nombreTipoInversion : demanda?.otroTipoInversion }} </span>

                        </div>
                      </div>

                      <div class="col-12" *ngIf="demanda?.resultanteDe">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Resultante de consolidar: </span>
                          <label for="ResultanteDe">{{demanda?.resultanteDe}}</label>
                        </div>
                      </div>


                      <div class="col-12" *ngIf="demanda?.nombreEjeEnd">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Eje y Objetivo END vinculados: </span>
                          <div>
                            <label for="objetivosEnd">{{demanda?.nombreEjeEnd}} -
                              {{demanda?.nombreObjetivoEnd}}</label>
                          </div>
                          <!-- <div *ngFor="let item of demanda.demandaResultadosEND">
                            <label for="InstitucionResponsable">{{item.nombreEjeEnd}} -
                              {{item.nombreObjetivoEnd}}</label>
                          </div> -->
                        </div>
                      </div>

                      <div class="col-12" *ngIf="demanda?.odsId">
                        <div class="form-group">
                          <span class="danger font-weight-bold">ODS vinculado: </span>
                          <div>
                            <label for="ODS">{{demanda?.odsId}}- {{demanda?.nombreODS}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.nombrePoliticaPNPSP">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Política PNPSP vinculada: </span>
                          <div>
                            <label for="NombrePolitica">{{demanda?.nombrePoliticaPNPSP}}</label>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <span><i class="ft-archive mr-1"></i> <b>Información complementaria</b></span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-6">
                    <div class="row">

                      <div class="col-12" *ngIf="demanda?.nombreEstadoValidacion">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Estado validacion: </span>
                          <label for="EstadoValidacion">{{demanda?.nombreEstadoValidacion}}</label>
                        </div>
                      </div>

                      <!-- <div class="col-12" *ngIf="demanda?.razonDevolucion">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Razón devolución: </span>
                          <label for="razonDevolucion">{{demanda?.razonDevolucion}}</label>
                        </div>
                      </div> -->

                      <!-- <div class="col-12" *ngIf="demanda?.comentarioEstado">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Comentario estado: </span>
                          <label for="comentarioEstado">{{demanda?.comentarioEstado}}</label>
                        </div>
                      </div> -->
                      <div class="col-12" *ngIf="demanda?.codigoPei">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Código PEI: </span>
                          <label for="codigoPei">{{demanda?.codigoPei}}</label>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.codigoPoa">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Código POA: </span>
                          <label for="codigoPoa">{{demanda?.codigoPoa}}</label>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="demanda?.codigoSnip">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Código Snip: </span>
                          <label for="codigoSnip">{{demanda?.codigoSnip}}</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Benficiarios directos: </span>
                        </div>
                      </div>
                      <div class="col-3" *ngIf="demanda?.beneficiariosPersonas">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Personas: </span>
                          <label for="temaComun">{{demanda?.beneficiariosPersonas}}</label>
                        </div>
                      </div>

                      <div class="col-3" *ngIf="demanda?.beneficiariosFamilias">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Familias: </span>
                          <label for="temaComun">{{demanda?.beneficiariosFamilias}}</label>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">

                      <div class="col-12" *ngIf="demanda.institucionesInvolucradas?.length > 0">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Instituciones responsables: </span>
                          <div *ngFor="let item of demanda?.institucionesInvolucradas">
                            <label for="InstitucionResponsable">{{item?.nombreInstitucion}}</label>
                            <br>
                            <article class="badge badge-pill ml-2 mt-1" [ngClass]="getEstadoClass(item?.estadoId)">
                              {{item?.nombreEstado}}
                            </article>
                            <article *ngIf="item?.codigoPei" class="badge badge-pill ml-2 mt-1" [ngClass]="getEstadoClass(item?.estadoId)">
                              Codigo PEI:{{item?.codigoPei}}
                            </article>
                            <article *ngIf="item?.codigoPoa" class="badge badge-pill ml-2 mt-1" [ngClass]="getEstadoClass(item?.estadoId)">
                              Producto POA:{{item?.codigoPoa}}
                            </article>
                            <article *ngIf="item?.codigoSnip" class="badge badge-pill ml-2 mt-1" [ngClass]="getEstadoClass(item?.estadoId)">
                              Codigo Snip:{{item?.codigoSnip}}
                            </article>
                          </div>
                        </div>
                      </div>

                      <div class="col-12" *ngIf="demanda?.nombreTecnicoOmpp">
                        <div class="form-group">
                          <span class="danger font-weight-bold">Técnico OMPP: </span>
                          <label for="TecnicoOMPP">{{demanda?.nombreTecnicoOmpp}}</label>
                        </div>
                      </div>

                      <div class="col-12" *ngIf="demanda.demandaContactos?.length > 0">
                        <span class="danger font-weight-bold">Contactos</span>
                        <div class="row">
                          <div class="card shadow col-5 m-1" *ngFor="let contacto of demanda?.demandaContactos">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-12">
                                  <div class="form-group">
                                    <span class="danger font-weight-bold">Nombre: </span>
                                    <label for="ContactoNombre">{{contacto?.nombreCompleto}}</label>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <span class="danger font-weight-bold">Telefono: </span>
                                    <label for="ContactoTelefono">{{contacto?.telefono}}</label>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <span class="danger font-weight-bold">Descripción: </span>
                                    <label for="ContactoDescripcion">{{contacto?.descripcion}}</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" *ngIf="!isAbierto">
              <ng-template ngbPanelTitle>
                <span><i class="ft-message-circle mr-1"></i> <b>Comentarios</b></span>
              </ng-template>

              <!--listado de comentarios-->
              <ng-template ngbPanelContent>
                <div class="grid-cols-3 mb-3">
                  <div *ngFor="let List of demanda.demandaComentarios" class="card card-inverse bg-info">
                    <div class="card-content">
                      <p class="ShortName mb-0" value>({{List?.institucionShortname}})</p>
                      <div class="d-flex align-items-center justify-content-between w-100 px-3 py-2">
                        <p class="UserName" value>{{List?.userName}}</p>
                        <p class="FechaComentario text-sm"> - {{List?.fechaRegistro | date}}</p>
                      </div>
                      <div class="card-body px-3 py-1">
                        <div class="comentarios">
                          {{List?.comentrio}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<!-- <div>
  <a class="btn btn-primary" *ngIf="!isAbierto" (click)="goBack()"><span>Volver a listado</span>
  </a>

</div> -->
