<!--Error page starts-->
<section id="error">
  <div class="container-fluid">
    <div class="row auth-height full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-12 text-center">
            <img src="assets/img/gallery/login.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class="mt-4">401 - No autorizado!</h1>
            <div class="w-75 error-text mx-auto mt-4">
              <p>Es posible que no tengas acceso a la página que está buscando, contacte con el administrador.</p>
            </div>
            <a routerLink="/dashboard" class="btn btn-warning my-2">Inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->
