<!-- start -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
    <p style="color: white"> Cargando... </p>
  </ngx-spinner>
  <a [routerLink]="['/repositorio/listadovideo']" data-toggle="tooltip" data-placement="bottom"
  title="Nuevo Documento" class="btn btn-primary btn-sm ml-1">
  <i class="fa fa-plus-circle"></i> Ver Videos
</a>


<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{mode}} Video</h4>
      </div>

      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <div class="div">
              <form (submit)="submit()" [formGroup]="registerForm">

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nombre">Nombre del Video</label>
                      <input type="text" class="form-control" name="nombre" id="nombre" formControlName="nombre">

                      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                        class="help-block mt-1 text-danger">

                        <div *ngIf="nombre.errors.required">
                          <i class="ft-alert-circle align-middle"></i> El campo es requerido
                        </div>

                        <div *ngIf="nombre.errors.minlength">
                          <i class="ft-alert-circle align-middle"></i> Sea un poco mas descriptivo por favor
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nombre">Enlace del Video</label>
                      <input type="text" class="form-control" name="enlace" id="enlace" formControlName="enlace">

                      <div *ngIf="enlace.invalid && (enlace.dirty || enlace.touched)"
                        class="help-block mt-1 text-danger">

                        <div *ngIf="enlace.errors.required">
                          <i class="ft-alert-circle align-middle"></i> El campo es requerido
                        </div>

                        <div *ngIf="enlace.errors.minlength">
                          <i class="ft-alert-circle align-middle"></i> Tratar de que sea un video de youtube valido, de
                          no ser asi podria no verse
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Guardar</button>
                <a *ngIf="!typeEdit" id="formRefresh" (click)="refrescar()" data-toggle="tooltip"
                  data-placement="bottom" title="Refrescar formulario" class="btn btn btn-info btn-md ml-1"><i
                    class="fa fa-refresh"></i></a>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->

    <div>
      <a [routerLink]="['/repositorio/listadovideo']" class="btn btn-primary"><span>Volver a listado</span>
      </a>
    </div>


  </div>


</div>

<div>

</div>
