<!--Statistics cards Starts-->
<div class="row" (resized)="onResized($event)">

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-info">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeInstitucional}}</h2>
              <span>Institucionalidad</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-home font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
          <!-- <x-chartist class="height-75" [data]="WidgetlineChart1.data" [type]="WidgetlineChart1.type"
            [options]="WidgetlineChart1.options" [responsiveOptions]="WidgetlineChart1.responsiveOptions"
            [events]="WidgetlineChart1.events">
          </x-chartist> -->
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-warning">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeSocial}}</h2>
              <span>Social</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-users font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
          <!--  <x-chartist class="height-75" [data]="WidgetlineChart3.data" [type]="WidgetlineChart3.type"
            [options]="WidgetlineChart3.options" [responsiveOptions]="WidgetlineChart3.responsiveOptions"
            [events]="WidgetlineChart3.events">
          </x-chartist> -->
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>



  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-danger">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeEconomico}}</h2>
              <span>Economico</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-trending-up font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
          <!-- <x-chartist class="height-75" [data]="WidgetlineChart2.data" [type]="WidgetlineChart2.type"
            [options]="WidgetlineChart2.options" [responsiveOptions]="WidgetlineChart2.responsiveOptions"
            [events]="WidgetlineChart2.events">
          </x-chartist> -->
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-success">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeMedioAmbiental}}</h2>
              <span>Medio ambiental</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-sun font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class=" WidgetlineChart WidgetlineChartshadow mb-2">
          <!-- <x-chartist class="height-75" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
            [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
            [events]="WidgetlineChart.events">
          </x-chartist> -->
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

</div>
<!--Statistics cards Ends-->


<div class="row match-height">
  <div class="col-xl-8 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Distribución de las demandas por {{ referenciaMapa }}</h4>
      </div>
      <div class="card-content">
        <div class="card-body" style="min-height: 500px;">
          <div class="form-group w-25">
            <label>Cambiar tipo de mapa</label>
            <select class="form-control" id="tipoMapa" (change)="changeMap($event)">
              <option value="1">Provincial</option>
              <option value="2">Municipal</option>
            </select>
          </div>
          <div id="map"
           leaflet
          [leafletOptions]="options"
          (leafletClick)="manejarClick($event)"
          [leafletLayers]="capas"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Porcentaje de demandas por región</h4>
      </div>
      <div class="card-content">
        <!-- <p class="font-medium-2 text-center mb-0 mt-2">Porcentaje por region</p> -->
        <br><br><br>
        <div id="donut-dashboard-chart" class="donut">
          <x-chartist class="height-250" [data]="DonutChart.data" [type]="DonutChart.type"
            [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions"
            [events]="DonutChart.events">
          </x-chartist>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{cibaoNorte}}% - CIBAO NORTE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': cibaoNorte + '%'}" [attr.aria-valuenow]="cibaoNorte"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{cibaoCentral}}% - CIBAO CENTRAL</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': cibaoCentral + '%'}" [attr.aria-valuenow]="cibaoCentral"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{metropolitana}}%-METROPOLITANA</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-primary" role="progressbar" [ngStyle]="{'width': metropolitana + '%'}" [attr.aria-valuenow]="metropolitana"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{este}}% - ESTE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': este + '%'}" [attr.aria-valuenow]="este"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{surOeste}}% - SUR-OESTE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': surOeste + '%'}" [attr.aria-valuenow]="surOeste"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">

            </div>

          </div>

        </div>
        <br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
