<div>
  <h5 class="card-title mb-0">Distribución de las demandas por ejes END</h5>
</div>
<!--Statistics cards Starts-->
<div class="row" (resized)="onResized($event)">


  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-info">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeInstitucional}}</h2>
              <span>Institucionalidad</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-home font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
          <!-- <x-chartist class="height-75" [data]="WidgetlineChart1.data" [type]="WidgetlineChart1.type"
            [options]="WidgetlineChart1.options" [responsiveOptions]="WidgetlineChart1.responsiveOptions"
            [events]="WidgetlineChart1.events">
          </x-chartist> -->
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-warning">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeSocial}}</h2>
              <span>Social</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-users font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
          <!--  <x-chartist class="height-75" [data]="WidgetlineChart3.data" [type]="WidgetlineChart3.type"
            [options]="WidgetlineChart3.options" [responsiveOptions]="WidgetlineChart3.responsiveOptions"
            [events]="WidgetlineChart3.events">
          </x-chartist> -->
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>



  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-danger">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeEconomico}}</h2>
              <span>Economico</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-trending-up font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
          <!-- <x-chartist class="height-75" [data]="WidgetlineChart2.data" [type]="WidgetlineChart2.type"
            [options]="WidgetlineChart2.options" [responsiveOptions]="WidgetlineChart2.responsiveOptions"
            [events]="WidgetlineChart2.events">
          </x-chartist> -->
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-success">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h2 class="font-large-1 white mb-0">{{ejeMedioAmbiental}}</h2>
              <span>Medio ambiental</span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-sun font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class=" WidgetlineChart WidgetlineChartshadow mb-2">
          <!-- <x-chartist class="height-75" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
            [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
            [events]="WidgetlineChart.events">
          </x-chartist> -->
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

</div>
<!--Statistics cards Ends-->


<div class="row match-height">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Distribución de las demandas de nivel {{ referenciaMapa }}</h4>
      </div>
      <div class="card-content">
        <div class="card-body" style="min-height: 500px;">
          <div class="form-group w-25">
            <label>Cambiar nivel</label>
            <select class="form-control" id="tipoMapa" (change)="changeMap($event)">
              <option value="1">Provincial</option>
              <option value="2">Municipal</option>
            </select>
          </div>
          <div id="map"
           leaflet
          [leafletOptions]="options"
          (leafletClick)="manejarClick($event)"
          [leafletLayers]="capas"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Porcentaje de demandas por región</h4>
      </div>
      <div class="card-content">
        <!-- <p class="font-medium-2 text-center mb-0 mt-2">Porcentaje por region</p> -->
        <br><br><br>
        <div id="donut-dashboard-chart" class="donut">
          <x-chartist class="height-250" [data]="DonutChart.data" [type]="DonutChart.type"
            [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions"
            [events]="DonutChart.events">
          </x-chartist>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{cibaoNorte}}% - CIBAO NORTE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar cibaoNorteColor" role="progressbar" [ngStyle]="{'width': cibaoNorte + '%'}" [attr.aria-valuenow]="cibaoNorte"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{cibaoSur}}% - CIBAO SUR</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar cibaoSurColor" role="progressbar" [ngStyle]="{'width': cibaoSur + '%'}" [attr.aria-valuenow]="cibaoSur"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{cibaoNordeste}}%-CIBAO NORDESTE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar cibaoNordesteColor" role="progressbar" [ngStyle]="{'width': cibaoNordeste + '%'}" [attr.aria-valuenow]="cibaoNordeste"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{cibaoNoroeste}}% - CIBAO NOROESTE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar cibaoNoroesteColor" role="progressbar" [ngStyle]="{'width': cibaoNoroeste + '%'}" [attr.aria-valuenow]="cibaoNoroeste"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{valdesia}}% - VALDESIA</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar valdesiaColor" role="progressbar" [ngStyle]="{'width': valdesia + '%'}" [attr.aria-valuenow]="valdesia"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{enriquillo}}% - ENRIQUILLO</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar enriquilloColor" role="progressbar" [ngStyle]="{'width': enriquillo + '%'}" [attr.aria-valuenow]="enriquillo"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{elValle}}% - EL VALLE</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar elValleColor" role="progressbar" [ngStyle]="{'width': elValle + '%'}" [attr.aria-valuenow]="elValle"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{yuma}}% - YUMA</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar yumaColor" role="progressbar" [ngStyle]="{'width': yuma + '%'}" [attr.aria-valuenow]="yuma"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">{{higuamo}}% - HIGUAMO</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar higuamoColor" role="progressbar" [ngStyle]="{'width': higuamo + '%'}" [attr.aria-valuenow]="higuamo"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">{{ozama}}% - OZAMA</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar ozamaColor" role="progressbar" [ngStyle]="{'width': ozama + '%'}" [attr.aria-valuenow]="ozama"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>
        <br><br><br><br><br>
      </div>
    </div>
  </div>
</div>

