
.main {
  margin: 0 auto;
}

.text-color {
  color: #002060;
}
.main-header{
  width: 100vw;
}
.bg-color{
  background: #002060;
}


.open-carouser{
  width: 100%;
  display: flex;
  gap: 0.5rem/* 8px */;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 13px;
}
.open-carouser article{
  display: flex;
  flex-direction: row;
  gap: 0.5rem/* 8px */;
}
.open-carouser article img{
  width: 35px;
  height: 20px;
  margin-left: 8px;
}
.open-carouser svg{
  width: 24px;
  height: 24px;
  margin-left: 4px;
}


// .container-carrouser{
//   display: none;
//   gap: 0.5rem;
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;
//   margin: 0.25rem;
// }

.content-carrouser{
  padding: 0.5rem/* 8px */;
  display: flex;
  flex-direction: column;
  gap: 0.5rem/* 8px */;
  text-align: start;
}

.content-carrouser .info-carrousel{
  display: flex;
  gap: 0.5em;
  padding: 0.75rem/* 12px */;
}
.content-carrouser .info-carrousel span{
  display: flex;
  height: 2.75rem/* 44px */;
  width: 2.75rem/* 44px */;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #002060;
}

.content-carrouser .info-carrousel div .title-info-carrousel{
  color: #002060;
  font-weight: 600;
  margin-bottom: 0.5rem/* 8px */;
  font-size: 14px;
}
.content-carrouser .info-carrousel div .sub-title-info-carrousel{
  font-size: 14px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem auto;
  width: fit-content;
  gap: 1.5rem;
}

.card--container-wraper {
  width: 250px;
  height: 200px;
  margin: 0;
  padding: 0;

}

.card--container-item {
  width: inherit;
  height: 7rem;
  border-radius: 5px;
  background-color: #bdd7ee;
  transition: all 0.2s ease-in-out;
  display: grid;
  place-items: center;
  margin: 0;
  color: #002060;

}

.card--container-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.card--container-image {
  display: grid;
  place-items: center;
}

.card--container-image img {
  height: 80px;
  width: 80px;
}

.card-subtitulo {
  font-size: 0.7rem;
}

.is-inactive{
  background-color: #9a9999!important;
  color: #fff;
}

.proposito{
  font-size: 1.2rem;
}


@media screen and (min-width:600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

}

@media screen and (min-width:1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


  }

}

@media screen and (min-width:1800px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);


  }

}

//mapa
/* #map {
  height: 550px;
  width: 380%;
  max-width: 730px;
  //margin-bottom: 1rem;
  //margin-top: 20px;
  margin: auto;

} */
.mapaselect{
  font-size: 30px;
  padding-left: 16px;
  color: #2f8be6;
}

/***********************************************/
#map {
  height: 550px;
  width: 100%;
  max-width: 120%;
  //margin-bottom: 1rem;
  //margin-top: 20px;
  margin: auto;


}
// .no-event{
//   pointer-events: none!important;
//   opacity: 0.5!important;
// }

// .no-event:hover{
//   cursor:not-allowed!important;
// }




/* .card {

  min-height: 450px;
}

.tab-background-color{
  color: #fff;
  background-color: #006be6;//#003876;
}

.tab-background-color:hover{
  background-color: #003876;//#003876c4;

} */



//Footer class
/* styles.css */
footer{
  width: 100vw;
  background-color: #002060;
  color: #fff;
}
.container-gobierno-abierto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    margin: auto !important;
}
.sub-container-footer{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem/* 24px */;
  padding-bottom: 1.5rem/* 24px */;
}

.logo-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-footer img{
  width: 13rem;
  margin-right: 0.75rem/* 12px */;
}
.logo-footer .divider {
  width: 1px;
  height: 100%;
  background-color: #fff;
  margin-left: 1.25rem/* 20px */;
}

.title-footer{
  color: #fff;
  margin-bottom: 1.5rem/* 24px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 600;
  text-transform: uppercase;
}
footer ul{
  font-weight: 300;
}
footer ul li{
  color: #fff !important;
  margin-bottom: 1rem/* 16px */;
}
footer ul li a{
  color: #fff !important;
}
footer ul li a:hover{
  color: #fff;
  text-decoration-line: underline;
}


@media (min-width: 640px) {
  .container-gobierno-abierto {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-gobierno-abierto {
    max-width: 768px;
  }

  .content-carrouser{

    flex-direction: row;

  }
  .open-carouser{
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .container-gobierno-abierto {
      max-width: 1024px;
  }

  .sub-container-footer{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .sub-container-footer{
    padding-top: 2rem/* 32px */;
    padding-bottom: 2rem/* 32px */;
  }
}
@media (min-width: 1280px) {
  .container-gobierno-abierto {
      max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container-gobierno-abierto {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    margin: auto !important;
  }
}
/* Agrega cualquier estilo adicional que desees */

