<!--cards-->
<div class="row match-height main">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
          <!-- <img src="assets/img/gallery/login.svg" alt="" class="img-fluid" width="300" height="230"> -->
          <img src="assets/img/gallery/LOGORUDCTNEW.svg" alt="" class="img-fluid" width="500" height="230">
        </div>
        <!-- <h4 class="card-title mb-0">Probando otras cosas</h4> -->
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-10 m-auto">
              <p class="my-2 text-color">
                El sistema RUDCT es la herramienta que sistematiza los datos generados en el proceso de gestión de la
                cooperación
                internacional no reembolsable, ofreciendo un lenguaje estandarizado en torno a las iniciativas de
                cooperación y
                permitiendo la generación de información para la toma de decisiones, el diseño de políticas públicas, la
                transparencia y la rendición de cuentas.
                <br>
                <br>
                El Sistema está compuesto por un conjunto de módulos que representan cada etapa del ciclo de gestión de
                las
                iniciativas, permitiendo registrar y dar seguimiento a toda la información generada en cada una de estas
                etapas.
              </p>
              <div>
                <h5 class="card-title mb-0">Distribución de las demandas por ejes END</h5>
              </div>
              <!--Statistics cards Starts-->
              <div class="row">


                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                  <div class="card bg-info">
                    <div class="card-content">
                      <div class="card-body py-0">
                        <div class="media pb-1">
                          <div class="media-body white text-left">
                            <h2 class="font-large-1 white mb-0">Whatever</h2>
                            <span>No vistas</span>
                          </div>
                          <div class="media-right white text-right">
                            <i class="ft-home font-large-1"></i>
                          </div>
                        </div>
                      </div>
                      <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">

                        <br>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                  <div class="card bg-warning">
                    <div class="card-content">
                      <div class="card-body py-0">
                        <div class="media pb-1">
                          <div class="media-body white text-left">
                            <h2 class="font-large-1 white mb-0">Something</h2>
                            <span>Something</span>
                          </div>
                          <div class="media-right white text-right">
                            <i class="ft-users font-large-1"></i>
                          </div>
                        </div>
                      </div>
                      <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">

                      </div>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                  <div class="card bg-danger">
                    <div class="card-content">
                      <div class="card-body py-0">
                        <div class="media pb-1">
                          <div class="media-body white text-left">
                            <h2 class="font-large-1 white mb-0">stepOver</h2>
                            <span>mayBe</span>
                          </div>
                          <div class="media-right white text-right">
                            <i class="ft-trending-up font-large-1"></i>
                          </div>
                        </div>
                      </div>
                      <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">

                      </div>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                  <div class="card bg-success">
                    <div class="card-content">
                      <div class="card-body py-0">
                        <div class="media pb-1">
                          <div class="media-body white text-left">
                            <h2 class="font-large-1 white mb-0">i can't</h2>
                            <span>Medio ambiental</span>
                          </div>
                          <div class="media-right white text-right">
                            <i class="ft-sun font-large-1"></i>
                          </div>
                        </div>
                      </div>
                      <div id="Widget-line-chart" class=" WidgetlineChart WidgetlineChartshadow mb-2">
                      </div>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>

              </div>


            </div>

          </div>


        </div>
      </div>
    </div>
  </div>


</div>
<!--endCards-->
