.my-drop-zone {
  border: dotted 3px lightgray;
  background-color: #f5f7fa !important;
}
.nv-file-over { border: dotted 3px green; }

.table-responsive{
  overflow-x: inherit;
}

.button-container {
  display: flex;
  margin-left: 2px;
}

#downloadButton{
  display:flex;
  margin-right: 5px;
}

#btnDelete2do{
  display:flex;
  margin-right: 5px;
}


