.my-drop-zone {
  border: dotted 3px lightgray;
  background-color: #f5f7fa !important;
}
.nv-file-over { border: dotted 3px green; }

.table-responsive{
  overflow-x: inherit;
}

.button-container {
  display: inline-block;
  margin-left: 10px;
}

#downloadButton{
  margin-right: 10px;
}


