<!-- start -->
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Registrar nueva institucion</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <div class="div">
              <form (submit)="submit()" [formGroup]="registerForm">


                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Enviar</button>
                <a id="formRefresh" (click)="refrescar()" data-toggle="tooltip" data-placement="bottom"
                  title="Refrescar formulario" class="btn btn btn-info btn-md ml-1"><i class="fa fa-refresh"></i></a>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<div>
  <a [routerLink]="['/institucion']" class="btn btn-primary"><span>Volver a listado</span>
  </a>

</div>
