
<h1>Lista de Videos</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-end mb-3">
      <a *ngIf="mostrarBoton" (click)="redirectToSave()" data-toggle="tooltip" data-placement="bottom"
        title="Agregar nuevo video" class="btn btn-primary btn-sm ml-1">
        <i class="fa fa-plus-circle"></i> Agregar nuevo video
      </a>

      <a (click)="redirectToRepositorio()" data-toggle="tooltip" data-placement="bottom" title="Volver" class="btn btn-primary btn-sm ml-1">
        <i class="fa fa-arrow-left"></i> Volver
      </a>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let videoUrl of videoslist; let i = index">
      <div [ngClass]="{
        'col-lg-6 col-md-8 col-sm-12': videoslist.length == 1,
        'col-lg-3 col-md-4 col-sm-6': videoslist.length > 1
      }" class="mb-4">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="videoUrl" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-3">{{ nombrevideo[i] }}</h5>
            <div class="btn-group" role="group" aria-label="Acciones">
              <a *ngIf="mostrarBoton" (click)="editar(Id[i])" class="btn btn-primary">Editar</a>
              <button *ngIf="mostrarBoton" (click)="eliminar(Id[i])" class="btn btn-danger ml-2">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ngb-pagination 
  [collectionSize]="page.count" 
  [(page)]="page.offset" 
  (pageChange)="onPageChange($event)"
  aria-label="Default pagination">
</ngb-pagination>
<pre>Estas en la página: {{ this.page.offset }}</pre> 
