
<h1>Lista de Videos</h1>

<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <a *ngIf="mostrarBoton" (click)="redirectToSave()" data-toggle="tooltip" data-placement="bottom"
        title="Nueva Demanda" class="btn btn-primary btn-sm ml-1">
        <i class="fa fa-plus-circle"></i> Agregar nuevo video
      </a>

      <a (click)="redirectToRepositorio()" data-toggle="tooltip" data-placement="bottom" title="Nuevo Documento" class="btn btn-primary btn-sm ml-1">
        <i class="fa fa-plus-circle"></i> Volver
      </a>
    </div>
  </div>
</div>

<div class="videos-container">
  <div class="row">
    <div [ngClass]="{'col-lg-4': videoslist.length <= 3, 'col-lg-3': videoslist.length == 4, 'col-lg-12': videoslist.length === 1, 'col-lg-6': videoslist.length === 2}" class="mt-3" *ngFor="let videoUrl of videoslist; let i = index">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="videoUrl" allowfullscreen ></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">{{ nombrevideo[i] }}</h5>
          <div class="btn-group" role="group" aria-label="Acciones">
            <a *ngIf="mostrarBoton"   (click)="editar(Id[i])" class="btn btn-primary mr-3">Editar</a>
            <br>
            <a *ngIf="mostrarBoton" (click)="eliminar(Id[i])" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination 
  [collectionSize]="page.count" 
  [(page)]="page.offset" 
  (pageChange)="onPageChange($event)"
  aria-label="Default pagination">
</ngb-pagination>
<pre>Estas en la página: {{ this.page.offset }}</pre> 
