<!-- start -->
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Detalles de la categoria de beneficiario</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <div class="div">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <span class="danger bold"><strong>Código: </strong> </span>
                    <label for="id">{{categoriaBeneficiario.id}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="div">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <span class="danger bold"><strong>Nombre: </strong> </span>
                    <label for="nombre">{{categoriaBeneficiario.nombre}}</label>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<div>
  <a [routerLink]="['/mantenimientos/categoria_beneficiarios']" class="btn btn-primary"><span>Volver a listado</span>
  </a>


</div>
