<div class="row">
  <div class="col-12">
    <div class="w-100 d-flex justify-content-end">
      <a [routerLink]="['/demandas/registroDemandas']" data-toggle="tooltip" data-placement="bottom"
        title="Nueva Demanda" class="btn btn btn-primary btn-sm ml-1"><i class="fa fa-plus-circle"></i></a>

      <a id="tableRefresh" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom"
        title="Actualizar tabla" class="btn btn btn-info btn-sm ml-1"><i class="fa fa-refresh"></i></a>

    </div>
  </div>
</div>

<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Listado de demandas para consolidación</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <!-- ngx-datatable-filter -->
            <!-- <fieldset class="form-group">
              <label for="ngx-filter-ref">Buscar:
                <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200" type="text"
                  placeholder="Nombre de demanda..." (keyup)="filterUpdate($event)" />
              </label>
            </fieldset> -->
            <div class="col-12 mb-2">
              <app-data-filter *ngIf="!loadingIndicator" [filtros]="filtros" (filterEvent)="getFilters($event)">
              </app-data-filter>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="distrito">Registros por página</label>
                <ng-select [items]="limitSelect" bindLabel="label" bindValue="value" (change)="_changeRowLimits($event)"
                  name="limit" id="limit" [(ngModel)]="limitSelected" style="width: 25%;" [clearable]="false">
                </ng-select>
              </div>
            </div>
            <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns"
              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [externalPaging]="true"
              [externalSorting]="false" [count]="page.count" [offset]="page.offset" [limit]="page.limit"
              [sortType]="'single'" (page)="pageCallback($event)" rowHeight="auto" [reorderable]="reorderable">
              <ngx-datatable-column *ngFor="let column of columns" name="{{column.name}}" [sortable]="column.sortable"
                prop="{{column.prop}}">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="column.prop != 'nombreEstadoDemanda'">
                    {{value}}
                  </span>
                  <div *ngIf="column.prop == 'nombreEstadoDemanda'" class="badge badge-pill"
                    [ngClass]="{'bg-danger': value == 'NO INICIADA', 'bg-warning':value == 'ACEPTADA POR LA INSTITUCION', 'bg-info':value == 'EN EJECUCION', 'bg-success':value == 'EJECUTADA'}">
                    {{ value }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <!-- Acciones -->
              <ngx-datatable-column name="Acciones">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a class="btn-sm btn-warning text-white ft-eye" (click)="openVerticallyCentered(content,row.id)"
                    title="Ver detalles"></a>
                  <label class="btn-sm ml-1 btn-primary" ngbButtonLabel>
                    <input type="checkbox" #checkboxes [id]="row.id" [name]="row.id" [value]="row.id" ngbButton
                      (change)="onBotonConsolidarChange($event,row.id)"> Consolidar
                  </label>


                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="page-count">
                    Mostrando {{(offset * pageSize)+1}} a {{(rowCount>
                    (curPage*pageSize))?(curPage*pageSize):(rowCount)}} de
                    {{(rowCount)}} registros.
                  </div>
                  <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                  </datatable-pager>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->

<!--Formulario-->
<form (submit)="submit()" [formGroup]="consolidationForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="descripcion">Nueva demanda</label>
        <textarea class="form-control" formControlName="descripcion" rows="4"> </textarea>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="comentarios">Comentario</label>
        <textarea class="form-control" formControlName="comentario" rows="4"> </textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="nombreCompletoContacto">Nombre contacto</label>
        <input type="text" class="form-control" name="nombreCompletoContacto" id="nombreCompletoContacto"
          formControlName="nombreCompletoContacto">

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="telefonoContacto">Telefono contacto</label>
        <input type="text" class="form-control" name="telefonoContacto" id="telefonoContacto"
          formControlName="telefonoContacto">

      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="descripcionContacto">Descripcion</label>
        <input type="text" class="form-control" name="descripcionContacto" id="descripcionContacto"
          formControlName="descripcionContacto">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <a class="btn btn-primary mt-3 ft-plus ml-10" (click)="agregarContacto()" title="Agregar contacto"></a>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="listadoContactos">
    <div class="col-sm-12">
      <div class="div">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Nombre completo</th>
              <th>Telefono</th>
              <th>Descripcion</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contacto of listadoContactos;let i=index">
              <td>{{ contacto.nombreCompleto }}</td>
              <td>{{ contacto.telefono }}</td>
              <td>{{ contacto.descripcion }}</td>
              <td><a class="btn btn-danger ft-trash-2" (click)="eliminarContacto(i)"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="prioridad">Prioridad</label>
        <input type="number" min="0" class="form-control" name="prioridad" id="prioridad" formControlName="prioridad">

        <div *ngIf="cf.prioridad.invalid && (cf.prioridad.dirty || cf.prioridad.touched)"
          class="help-block mt-1 text-danger">

          <div *ngIf="cf.prioridad.errors.required">
            <i class="ft-alert-circle align-middle"></i> El campo es requerido
          </div>

        </div>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <button type="submit" class="btn mt-3 btn-success" [disabled]="consolidationForm.invalid">Enviar</button>
      </div>
    </div>
  </div>


</form>


<!-- modalStart -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Detalle de la demanda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <!-- start -->
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
      <p style="color: white"> Cargando... </p>
    </ngx-spinner>
    <div class="row">
      <div class="col-12">
        <!-- Kick start -->
        <div id="kick-start" class="card">

          <div class="card-content">
            <div class="card-body">
              <h5 class="danger" *ngIf="notFound">
                Esta demanda territorial no existe.
              </h5>
              <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1" *ngIf="demanda != null">
                <ngb-panel id="static-1">
                  <ng-template ngbPanelTitle>
                    <span><i class="ft-info mr-1"></i> <b>Información general</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-6">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Código demanda: </span>
                              <label for="CodigoDemanda">{{demanda.codigo}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Año: </span>
                              <label for="año">{{demanda.anio}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Técnico OMPP: </span>
                              <label for="TecnicoOMPP">{{demanda.nombreTecnicoOmpp}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Estado ejecución: </span>
                              <label for="EstadoEjecucion">{{demanda.nombreEstadoDemanda}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Demanda: </span>
                              <textarea class="form-control" readonly cols="30" rows="15"
                                [value]="demanda.descripcion"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Región: </span>
                              <label for="TecnicoOMPP">{{demanda.nombreRegion}}</label>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Provincia: </span>
                              <label for="TecnicoOMPP">{{demanda.nombreProvincia}}</label>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Municipio: </span>
                              <label for="TecnicoOMPP">{{demanda.nombreMunicipio}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Fuente de la demanda: </span>
                              <label for="TecnicoOMPP">{{demanda.nombreFuenteDemanda}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Prioridad: </span>
                              <label for="Prioridad">{{demanda.prioridad}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Tipos de inverión: </span>
                              <br />
                              <span *ngFor="let item of demanda.demandaTipoInversiones"
                                class="badge badge-pill badge-primary mr-1 mt-1">{{item.tipoInversionOtros == null ?
                                item.nombreTipoInversion : item.tipoInversionOtros }} </span>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Actividades: </span>
                              <div *ngFor="let item of demanda.demandaActividades">
                                <label for="InstitucionResponsable">{{item.numero}} - {{item.descripcion}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <span class="danger font-weight-bold">Beneficiarios</span>
                            <div class="row">
                              <div class="card shadow col-5 m-1" *ngFor="let item of demanda.demandaBeneficiarios">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="form-group">
                                        <span class="primary font-weight-bold">Tipo: </span>
                                        <label for="TecnicoOMPP">{{item.nombreTipo}}</label>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <span class="primary font-weight-bold">Categoria: </span>
                                        <label for="TecnicoOMPP">{{item.nombreCategoria}}</label>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form-group">
                                        <span class="primary font-weight-bold">Cantidad: </span>
                                        <label for="TecnicoOMPP">{{item.cantidad}}</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                  <ng-template ngbPanelTitle>
                    <span><i class="ft-archive mr-1"></i> <b>Información institucional</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-6">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Tema común: </span>
                              <label for="InstitucionResponsable">{{demanda.nombreTemaComun}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Institución responsable: </span>
                              <label for="InstitucionResponsable">{{demanda.nombreInstitucionResponsable}}</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Instituciones involucradas: </span>
                              <div *ngFor="let item of demanda.institucionesInvolucradas">
                                <label for="InstitucionResponsable">{{item.nombreInstitucion}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Objetivos END vinculados: </span>
                              <div *ngFor="let item of demanda.demandaResultadosEND">
                                <label for="InstitucionResponsable">{{item.nombreEjeEnd}} -
                                  {{item.nombreObjetivoEnd}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <span class="danger font-weight-bold">Políticas PNPSP vinculadas: </span>
                              <div *ngFor="let item of demanda.demandaPoliticasPNPSP">
                                <label for="InstitucionResponsable">{{item.nombrePolitica}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3">
                  <ng-template ngbPanelTitle>
                    <span><i class="ft-message-circle mr-1"></i> <b>Comentarios</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <!-- <div class="row">
                  <div *ngFor="let item of demanda.demandaComentarios" class="col-4">
                    <div class="card card-inverse bg-info">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media">
                            <div class="media-body text-left">
                              <p>
                                {{item.comentrio}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                    <div class="row">
                      <div class="col-4">
                        <div class="card card-inverse bg-info">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media">
                                <div class="media-body text-left">
                                  <p>
                                    {{demanda.demandaComentarios[demanda.demandaComentarios.length - 1].comentrio}}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <!--/ Kick start -->
      </div>
    </div>

  </div>
  <div class="modal-footer">

    <input type="button" value="Volver" class="btn btn-primary" (click)="modal.close('Close click')">
  </div>

</ng-template>

<!-- endModal -->
