<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Listado de demandas para consolidación</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <div class="col-md-12 mb-2">
              <app-data-filter *ngIf="!loadingIndicator" [filtros]="filtros" (filterEvent)="getFilters($event)">
              </app-data-filter>
            </div>

            <div class="col-md-12">
              <div class="w-100 d-flex justify-content-between">
                <ng-select [items]="limitSelect" bindLabel="label" bindValue="value" (change)="_changeRowLimits($event)"
                  name="limit" id="limit" [(ngModel)]="limitSelected" style="width: 25%;" [clearable]="false">
                </ng-select>
                <a class="btn  btn-primary" (click)="openVertically(content2)">Completar consolidación</a>
              </div>
            </div><br>

            <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns"
              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [externalPaging]="true"
              [externalSorting]="false" [count]="page.count" [offset]="page.offset" [limit]="page.limit"
              [sortType]="'single'" (page)="pageCallback($event)" rowHeight="auto" [reorderable]="reorderable">
              <ngx-datatable-column *ngFor="let column of columns" name="{{column.name}}" [sortable]="column.sortable"
                prop="{{column.prop}}">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="column.prop != 'nombreEstadoDemanda' && column.prop != 'nombreTipoDemanda'">
                    {{value}}
                  </span>
                  <div *ngIf="column.prop == 'nombreEstadoDemanda'" class="badge badge-pill"
                    [ngClass]="{'bg-danger': value == 'Reasignación sectorial', 'bg-warning':value == 'Asignado a sectorial', 'bg-info':value == 'Incluido en PEI', 'bg-primary':value == 'En proceso de ejecución','bg-secondary':value == 'Pendiente asignar sectorial' ,'bg-success':value == 'Programado en POA','bg-dark':value == 'No inciada'}">
                    {{ value }}
                  </div>
                  <div *ngIf="column.prop == 'nombreTipoDemanda'" class="badge badge-pill"
                    [ngClass]="{ 'bg-warning':value == 'Nueva', 'bg-info':value == 'Consolidada', 'bg-success':value == 'Resultante de Consolidacion', 'bg-primary':value == 'Original sin cambios', 'bg-secondary':value == 'Original modificada', 'bg-dark':value == 'Resultante modificacion'}">
                    {{ value }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Instituciones responsables" prop="institucionesInvolucradas">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <ng-template ngFor let-obj [ngForOf]="value">
                   {{ obj.nombreInstitucion}}.
                    <br />
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>
              <!-- Acciones -->
              <ngx-datatable-column name="Acciones">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a class="btn-sm btn-warning text-white ft-eye" (click)="openVerticallyCentered(content,row.id)"
                    title="Ver detalles"></a>
                  <label class="btn-sm ml-1 btn-primary" ngbButtonLabel>
                    <input type="checkbox" #checkboxes [id]="row.id" [name]="row.id" [value]="row.id" ngbButton
                      (change)="onBotonConsolidarChange($event,row.id)"> Consolidar
                  </label>


                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="page-count">
                    Mostrando {{(offset * pageSize)+1}} a {{(rowCount>
                    (curPage*pageSize))?(curPage*pageSize):(rowCount)}} de
                    {{(rowCount)}} registros.
                  </div>
                  <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                  </datatable-pager>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->

<!--modal fixed-->
<UIModal [modalOption]="modalOption" [modalConfig]="modalConfig" #modalDetalles>
  <app-detalle-demandas [idExterno]="demandaId" #Detalles></app-detalle-demandas>
  <div class="modal-footer">

    <input type="submit" value="Volver al listado" class="btn btn-primary" (click)="closeModal()">
  </div>
  <!--end modal fixed-->
</UIModal>
<!--modal fixed-->

<!-- modal2Start -->

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Completar datos de la demanda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <!-- start -->
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
      <p style="color: white"> Cargando... </p>
    </ngx-spinner>
    <div class="row">
      <div class="col-12">
        <!-- Kick start -->

        <!--Formulario-->
        <form (submit)="submit()" [formGroup]="consolidationForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="descripcion">Nueva demanda</label>
                <textarea class="form-control" formControlName="descripcion" rows="4"> </textarea>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="comentarios">Comentario</label>
                <textarea class="form-control" formControlName="comentario" rows="4"> </textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="nombreCompletoContacto">Nombre contacto</label>
                <input type="text" class="form-control" name="nombreCompletoContacto" id="nombreCompletoContacto"
                  formControlName="nombreCompletoContacto">

              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="telefonoContacto">Telefono contacto</label>
                <input type="text" class="form-control" name="telefonoContacto" id="telefonoContacto"
                  formControlName="telefonoContacto">

              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="descripcionContacto">Descripcion</label>
                <input type="text" class="form-control" name="descripcionContacto" id="descripcionContacto"
                  formControlName="descripcionContacto">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <a class="btn btn-primary mt-3 ft-plus ml-10" (click)="agregarContacto()" title="Agregar contacto"></a>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="listadoContactos.length > 0">
            <div class="col-sm-12">
              <div class="div">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th>Nombre completo</th>
                      <th>Telefono</th>
                      <th>Descripcion</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contacto of listadoContactos;let i=index">
                      <td>{{ contacto.nombreCompleto }}</td>
                      <td>{{ contacto.telefono }}</td>
                      <td>{{ contacto.descripcion }}</td>
                      <td><a class="btn btn-danger ft-trash-2" (click)="eliminarContacto(i)"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="prioridad">Prioridad</label>
                <input type="number" min="0" class="form-control" name="prioridad" id="prioridad"
                  formControlName="prioridad">

                <div *ngIf="cf.prioridad.invalid && (cf.prioridad.dirty || cf.prioridad.touched)"
                  class="help-block mt-1 text-danger">

                  <div *ngIf="cf.prioridad.errors.required">
                    <i class="ft-alert-circle align-middle"></i> El campo es requerido
                  </div>

                </div>

              </div>
            </div>

          </div>
          <div class="modal-footer">

            <input type="button" value="Volver" class="btn btn-primary" (click)="modal.close('Close click')">

            <!-- <input type="button" value="Enviar" class="btn btn-success" (click)="submit($event)"
            [disabled]="consolidationForm.invalid"> -->
            <button type="submit" class="btn btn-success" [disabled]="consolidationForm.invalid">Enviar</button>


          </div>
        </form>
        <!--EndForm-->

        <!--/ Kick start -->
      </div>
    </div>

  </div>



</ng-template>

<!-- endModal2 -->
