<!-- start -->
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Detalles institucion</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">

            <div class="div">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <span class="primary">Código: </span>
                    <label for="InstitucionId">{{institucion.InstitucionId}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="div">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <span class="primary">Nombre: </span>
                    <label for="nombre">{{institucion.Nombre}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="div">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <span class="primary">Activa: </span>
                    <label for="activo">{{institucion.Activo == 1?"Si":"No"}}</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<div>
  <a [routerLink]="['/institucion']" class="btn btn-primary"><span>Volver a listado</span>
  </a>

</div>
