<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title ml-3">Reportería de demandas</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <div class="col-md-10">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="tipoReporte">Tipo reporte</label>
                  <ng-select [items]="tipoReporte" bindLabel="label" bindValue="value"
                    (change)="changeTipoReporte($event)" name="limit" id="limit" placeholder="Seleccione tipo reporte"
                    [(ngModel)]="tipoReporteSelected" [clearable]="false">
                  </ng-select>
                </div>
              </div>

              <form [formGroup]="reportForm">

                <div class="col-sm-4" *ngIf="tipoReporteSelected == 1">
                  <div class="form-group">
                    <label for="institucion">Institucion Responsable</label>
                    <ng-select [items]="listadoInstituciones | async" bindLabel="name" bindValue="id" name="institucion"
                      id="institucion" placeholder="Seleccione institucion" (change)="onInstitucionChange()"
                      formControlName="institucionId">
                    </ng-select>

                  </div>
                </div>

                <div class="col-sm-4" *ngIf="tipoReporteSelected == 2">
                  <div class="form-group">
                    <label for="fuente">Fuentes</label>
                    <ng-select [items]="listadoFuentes | async" bindLabel="name" bindValue="id" name="fuente"
                      id="fuente" placeholder="Seleccione fuente" (change)="onFuenteChange()"
                      formControlName="fuenteId">
                    </ng-select>

                  </div>
                </div>
                <div class="col-sm-4" *ngIf="tipoReporteSelected == 3">
                  <div class="form-group">
                    <label for="tipo">Tipo demanda</label>
                    <ng-select [items]="listadoTipos | async" bindLabel="name" bindValue="id" name="tipo" id="tipo"
                      placeholder="Seleccione tipo" (change)="onTipoChange()" formControlName="tipoId">
                    </ng-select>

                  </div>
                </div>

                <div class="col-sm-4" *ngIf="tipoReporteSelected == 4">
                  <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <ng-select [items]="listadoProvincias | async" bindLabel="name" bindValue="id" name="provincia"
                      id="provincia" placeholder="Seleccione provincia" (change)="onProvinciaChange()"
                      formControlName="provinciaId">
                    </ng-select>

                  </div>
                </div>

                <div class="col-sm-4" *ngIf="tipoReporteSelected == 5">
                  <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <ng-select [items]="listadoMunicipios | async" bindLabel="name" bindValue="id" name="municipio"
                      id="municipio" placeholder="Seleccione municipio" (change)="onMunicipiosChange()"
                      formControlName="municipioId">
                    </ng-select>

                  </div>
                </div>

                <div class="col-sm-4" *ngIf="tipoReporteSelected == 6">
                  <div class="form-group">
                    <label for="temaComun">Tema común</label>
                    <ng-select [items]="listadoTemaComun | async" bindLabel="name" bindValue="id" name="temaComun"
                      id="temaComun" placeholder="Seleccione tema comun" (change)="onTemaComunChange()"
                      formControlName="temaComunId">
                    </ng-select>

                  </div>
                </div>
                <div class="col-sm-4" *ngIf="tipoReporteSelected != null">
                  <div class="form-group">
                    <a (click)="exportPdf()" data-toggle="tooltip" data-placement="bottom" title="Exportar datos en PDF"
                      class="btn btn btn-danger btn-sm ml-1">
                      <i class="fa fa-download"> Exportar PDF</i>
                    </a>
                  </div>
                </div>
              </form>
            </div>

          </div><br>




        </div>
      </div>
    </div>
  </div>

</section>
<!--/ Filter Datatables -->
