<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title ml-3">Reportería de demandas</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <div class="col-md-10">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="tipoReporte">Tipo reporte</label>
                  <ng-select [items]="tipoReporte" bindLabel="label" bindValue="value"
                    (change)="changeTipoReporte($event)" name="limit" id="limit" placeholder="Seleccione tipo reporte"
                    [(ngModel)]="tipoReporteSelected" [clearable]="false">
                  </ng-select>
                </div>
              </div>

              <form [formGroup]="reportForm">
                <div class="col-sm-4" *ngIf="tipoReporteSelected == 1">
                  <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <ng-select [items]="listadoProvincias | async" bindLabel="name" bindValue="id" name="provincia"
                      id="provincia" placeholder="Todas"
                      formControlName="provinciaId">
                    </ng-select>

                  </div>
                </div>

                <div class="col-sm-4" *ngIf="RF.provinciaId.value != null && gruposUsuario.includes(this.rolesEnum.institucionalRUDT) == false">
                  <div class="form-group">
                    <label for="Institucion">Institucion</label>
                    <ng-select [items]="listadoInstituciones | async" bindLabel="name" bindValue="id" name="Institucion"
                      id="Institucion" placeholder="Todas"
                      formControlName="institucionId">
                    </ng-select>

                  </div>
                </div>

                <div class="col-sm-4" *ngIf="tipoReporteSelected != null">
                  <div class="form-group">
                    <a (click)="exportReport()" data-toggle="tooltip" data-placement="bottom"
                      title="Descargar reporte" class="btn btn btn-success btn-sm ml-1">
                      <i class="fa fa-download"> Exportar</i>
                    </a>
                  </div>
                </div>
              </form>
            </div>

          </div><br>


        </div>
      </div>
    </div>
  </div>

</section>
<!--/ Filter Datatables -->
