<!--Footer Starts-->
<footer class="footer">
<!--<footer>-->
  <p class="copyright clearfix text-muted m-0">
    &copy; {{currentDate | date: 'yyyy'}} Desarrollado por el MEPyD, con el apoyo de JICA, a través del PRODECARE.
    <!--<a id="pixinventLink"
      </a>href="https://mepyd.gob.do">Ministerio de Economía, Planificación y Desarrollo</a>-->
    <span class="d-none d-sm-inline-block">
      <!-- <img src="assets/img/flags/domFlag2.jpg" alt="" class="img-fluid" width="85" height="50">
      <img src="assets/img/flags/JapFlag.png" alt="" class="img-fluid" width="100" height="50"> -->
      <img src="assets/img/flags/banderas.jfif" alt="" class="img-fluid" width="100" height="50">
    </span>
  </p>


</footer>
<!--Footer Ends-->
