<!-- start -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{mode}} demandas territoriales</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <div class="div">
              <form (submit)="submit()" [formGroup]="registerForm">

                <!-- modalStart -->

                <!-- <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Seleccione el nivel de la demanda</h4>
                  </div>
                  <div class="modal-body">

                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label for="nivelDemanda">Nivel de demanda</label>
                          <ng-select [items]="listadoNivelDemandas | async" bindLabel="text" bindValue="value"
                            name="nivelDemanda" id="nivelDemanda" placeholder="Seleccione nivel demanda"
                            formControlName="nivelDemanda">
                          </ng-select>
                          <div *ngIf="nivelDemanda.invalid && (nivelDemanda.dirty || nivelDemanda.touched)"
                            class="help-block mt-1 text-danger">

                            <div *ngIf="nivelDemanda.errors.required">
                              <i class="ft-alert-circle align-middle"></i> El campo es requerido
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a [routerLink]="['/demandas']" class="btn btn-primary"
                      (click)="modal.close('Close click')"><span>Volver a listado</span>
                    </a>
                    <input type="button" value="Continuar" [disabled]="nivelDemanda.invalid" class="btn btn-success"
                      (click)="modal.close('Close click')">
                  </div>

                </ng-template> -->

                <input type="button" value="ModalOculto" class="btn btn-outline-primary mb-2 mr-2"
                  (click)="openVerticallyCentered(content)" id="miBoton" style='display:none'>

                <!-- endModal -->

                <!-- navStart -->

                <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-between">
                  <li ngbNavItem>
                    <a ngbNavLink>Información de la demanda</a>
                    <ng-template ngbNavContent>

                      <div class="row">


                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="nivelDemanda">Nivel de demanda</label>
                            <ng-select [items]="listadoNivelDemandas | async" bindLabel="text" bindValue="text"
                              name="nivelDemanda" id="nivelDemanda" placeholder="Seleccione nivel demanda"
                              formControlName="nivelDemanda">
                            </ng-select>
                            <div *ngIf="nivelDemanda.invalid && (nivelDemanda.dirty || nivelDemanda.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="nivelDemanda.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>




                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="año">Año</label>
                            <ng-select [items]="anios" bindLabel="Year" bindValue="id" name="año" id="año"
                              placeholder="Seleccione año demanda" formControlName="anio">
                            </ng-select>
                            <div *ngIf="anio.invalid && (anio.dirty || anio.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="anio.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="region">Región</label>
                            <ng-select [items]="regiones | async" bindLabel="name" bindValue="id" name="region"
                              id="region" placeholder="Seleccione region" (change)="onRegionChange(region.value)"
                              formControlName="region">
                            </ng-select>

                            <div *ngIf="region.invalid && (region.dirty || region.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="region.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <ng-select [items]="provincias | async" bindLabel="name" bindValue="id" name="provincia"
                              id="provincia" placeholder="Seleccione provincia"
                              (change)="onProvinciaChange(provincia.value)" formControlName="provincia">
                            </ng-select>
                            <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="provincia.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>


                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="municipio">Municipio</label>
                            <ng-select [items]="municipios | async" bindLabel="name" bindValue="id" name="municipio"
                              id="municipio" placeholder="Seleccione municipio"
                              (change)="onMunicipiosChange(municipio.value)" formControlName="municipio">
                            </ng-select>

                            <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="municipio.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="coordenadaX">Coordenada x <span class="error">*</span> </label> <a
                              (click)="openModalMapa(contentMapa)" title="Ubicación Geográfica"><i
                                class="fa fa-map-marker mapaselect " aria-hidden="true "></i></a>
                            <input type="text" class="form-control" id="coordenadaX" name="coordenadaX"
                              formControlName="coordenadaX" maxlength="30">
                            <div *ngIf="coordenadaX.invalid && (coordenadaX.dirty || coordenadaX.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="coordenadaX.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>
                              <div *ngIf="coordenadaX.errors.maxlength">
                                <i class="ft-alert-circle align-middle"></i> El campo debe tener maxímo 30 caracteres.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="coordenadaY">Coordenada Y</label>
                            <input type="text" min="0" class="form-control" name="coordenadaY" id="coordenadaY"
                              formControlName="coordenadaY">

                            <div *ngIf="coordenadaY.invalid && (coordenadaY.dirty || coordenadaY.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="coordenadaY.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="Direccion">Dirección</label>
                            <input type="text" min="0" class="form-control" name="direccion" id="direccion"
                              formControlName="direccion">

                            <!-- <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="direccion.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div> -->

                          </div>
                        </div>

                        <!-- <div class="col-sm-4" *ngIf="nivelDemanda.value == 5">
                          <div class="form-group">
                            <label for="distrito">Distrito municipal</label>
                            <ng-select [items]="distritosMunicipales | async" bindLabel="name" bindValue="id"
                              name="distrito" id="distrito" placeholder="Seleccione distrito"
                              formControlName="distrito">
                            </ng-select>
                          </div>
                        </div> -->

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="fuente">Fuente de demanda</label>
                            <ng-select [items]="fuenteDemandas | async" bindLabel="name" bindValue="id" name="fuente"
                              id="fuente" placeholder="Seleccione fuente" formControlName="fuente">
                            </ng-select>

                            <div *ngIf="fuente.invalid && (fuente.dirty || fuente.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="fuente.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="prioridad">Prioridad</label>
                            <input type="number" min="0" class="form-control" name="prioridad" id="prioridad"
                              formControlName="prioridad">

                            <div *ngIf="prioridad.invalid && (prioridad.dirty || prioridad.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="prioridad.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="demanda">Demanda</label>

                            <input type="text" class="form-control" name="demanda" id="demanda"
                              formControlName="demanda">

                            <div *ngIf="demanda.invalid && (demanda.dirty || demanda.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="demanda.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                              <div *ngIf="demanda.errors.minlength">
                                <i class="ft-alert-circle align-middle"></i> Sea un poco mas descriptivo por favor
                              </div>

                            </div>

                          </div>
                        </div>


                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="detalle">Detalle de demanda</label>

                            <textarea class="form-control" name="detalle" id="detalle" rows="3"
                              formControlName="detalle"></textarea>
                          </div>
                        </div>

                        <!-- <div class="col-sm-3">
                            <div class="form-group">
                              <a class="btn btn-primary mt-3 ft-plus" (click)="agregarActividad()"
                                title="Agregar actividad"></a>
                            </div>
                          </div> -->

                      </div>


                      <div class="row">

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="tipo">Tipo inversion</label>
                            <ng-select [multiple]="false" [items]="tipoInversiones | async"
                              bindLabel="name" bindValue="id" name="tipo" id="tipo"
                              placeholder="Seleccione los tipos de inversion" (change)="onTipoChange()"
                              formControlName="tiposInversion">
                            </ng-select>
                            <div *ngIf="tiposInversion.invalid && (tiposInversion.dirty || tiposInversion.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="tiposInversion.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>


                        <div class="col-md-4">
                          <div class="form-group">
                            <div *ngIf="otrosTiposShow">
                              <label for="otrosTiposInversion">Especifíque otro</label>
                              <input type="text" class="form-control" id="otrosTiposInversion"
                                name="otrosTiposInversion" formControlName="otrosTiposInversion">

                              <div
                                *ngIf="otrosTiposInversion.invalid && (otrosTiposInversion.dirty || otrosTiposInversion.touched)"
                                class="help-block mt-1 text-danger">

                                <div *ngIf="otrosTiposInversion.errors.required">
                                  <i class="ft-alert-circle align-middle"></i> El campo es requerido
                                </div>

                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                      <!--
                      <div class="row">
                        <div class="col-12">

                          <div class="div" *ngIf="listadoActividades.length > 0">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Actividad</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let actividad of listadoActividades;let i=index">
                                  <td>{{ actividad.Actividad }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarActividad(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div> -->

                      <h5 class="mt-1 mb-0">Beneficiarios directos</h5>
                      <hr class="mt-0">
                      <div class="row">

                        <!-- <div class="col-sm-3">
                          <div class="form-group">
                            <label for="tipo">Tipo Beneficiarios</label>
                            <ng-select [items]="listadoTipoBeneficiarios | async" bindLabel="name" name="tipo" id="tipo"
                              placeholder="Seleccione tipo" formControlName="tipo">
                            </ng-select>
                          </div>
                          </div>

                          <div class="col-sm-3">
                          <div class="form-group">
                            <label for="tipo">Categoria Beneficiarios</label>
                            <ng-select [items]="listadoCategoriaBeneficiarios | async" bindLabel="name" name="categoria"
                              id="categoria" placeholder="Seleccione categoria" formControlName="categoria">
                            </ng-select>
                           </div>
                          </div> -->

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="beneficiariosPersonas">Personas</label>
                            <input type="number" min="0" class="form-control" name="beneficiariosPersonas"
                              id="beneficiariosPersonas" formControlName="beneficiariosPersonas">
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="beneficiariosFamilias">Familias</label>
                            <input type="number" min="0" class="form-control" name="beneficiariosFamilias"
                              id="beneficiariosFamilias" formControlName="beneficiariosFamilias">
                          </div>
                        </div>

                        <!-- <div class="col-md-2 mt-3">
                           <div class="form-group">
                            <a class="btn btn-primary ft-plus" title="Agregar beneficiario"
                              (click)="agregarBeneficiario()"></a>
                           </div>
                           </div> -->

                      </div>

                      <!-- <div class="div" *ngIf="listadoBeneficiarios.length > 0">
                        <table class="table table-hover table-sm">
                          <thead>
                            <tr>
                              <th>Tipo Beneficiario</th>
                              <th>Categoria Beneficiario</th>
                              <th>Cantidad</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let beneficiario of listadoBeneficiarios; let i = index">
                              <td>{{ beneficiario.tipoNombre }}</td>
                              <td>{{ beneficiario.categoriaNombre }}</td>
                              <td>{{ beneficiario.cantidad | number:'1.2-2' }}</td>
                              <td>{{ beneficiario.cantidad | number }}</td>
                              <td><a class="btn btn-danger ft-trash-2" (click)="removerBeneficiario(i)"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div> -->

                      <div class="row ">
                        <h5 class="mt-1 mb-0 col-9">Sección de comentarios</h5>
                        <div class="col-md-3 mb-0">
                          <div class="form-group">
                            <a data-toggle="tooltip " data-placement="bottom "
                              (click)="openModalComentario(contentComentario)" title="Agregar Comentario "
                              class="btn btn-primary "><i class="ft-plus "></i></a>
                          </div>
                        </div>

                      </div>

                      <hr class="mt-0 mb-0">
                      <div *ngIf="!listadoComentarios.length > 0"
                        class="col-sm-12 mt-1 alert alert-secondary text-center" role="alert">
                        No hay comentarios
                      </div>
                      <ngb-accordion class="ml-0" *ngIf="listadoComentarios.length > 0">
                        <ngb-panel id="static-1" class="ml-0">

                          <ng-template ngbPanelTitle>
                            <div class="alert alert-primary" role="alert">
                              <span><i class="ft-list "></i> <b> Historial comentarios</b></span>
                            </div>
                          </ng-template>

                          <!--listado de comentarios-->
                          <ng-template ngbPanelContent>
                            <div class="row">
                              <div class="col-4" *ngFor="let item of listadoComentarios ; let i=index " >
                                <span>
                                  <a class="btn-sm ml-1 btn-danger text-white ft-trash-2 "  *ngIf="typeEdit == false" (click)="removerComentario(i)"></a>
                                </span>
                                <div class="card card-inverse bg-info mb-2">
                                  <div class="card-content">
                                    <div class="card-body">
                                      <div class="media">
                                        <div class="media-body text-left">
                                          <p>
                                            {{item.comentrio}}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>


                      <ng-template #contentComentario let-modal>
                        <div class="modal-header ">
                          <h4 class="modal-title ">Agregar comentario</h4>
                          <button type="button " class="close " aria-label="Close "
                            (click)="modal.dismiss( 'Cross click') ">
                            <span aria-hidden="true ">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body ">
                          <div class="col-sm-12 ">
                            <div class="form-group ">
                              <label for="comentario">Comentario</label>
                              <textarea class="form-control " name="comentario" id="comentario" rows="3"
                                formControlName="comentarios"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer ">
                          <button type="button " title="Agregar Comentario " class="btn btn-primary"
                            (click)="agregarComentario()"><i class=" fa fa-plus-circle "> Agregar</i></button>

                          <button type="button " class="btn btn-light " (click)="modal.close( 'Close click') "><i
                              class="fa fa-close "> Cerrar</i></button>
                        </div>
                      </ng-template>



                    </ng-template>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Vinculacion con END y PNPSP</a>
                    <ng-template ngbNavContent>

                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label for="eje">Eje End</label><br>
                            <div class="btn-group" ngbRadioGroup name="radioBasic1" formControlName="eje"
                              (change)="onEjeChange(eje.value)">
                              <label *ngFor="let eje of ejesEnd | async" ngbButtonLabel
                                class="btn-outline-{{eje.extraInfo}}">
                                <input ngbButton type="radio" [value]="eje.id"> {{eje.name}}
                              </label>
                            </div>

                            <div *ngIf="eje.invalid && (eje.dirty || eje.touched)" class="help-block mt-1 text-danger">

                              <div *ngIf="eje.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="objetivo">Objetivo</label>
                            <ng-select [items]="objetivosEnd | async" bindLabel="name" bindValue="id" name="objetivo" id="objetivo"
                              placeholder="Seleccione objetivo" formControlName="objetivo">
                            </ng-select>

                            <div *ngIf="objetivo.invalid && (objetivo.dirty || objetivo.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="objetivo.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>

                        <!-- <div class="col-sm-4">
                          <div class="form-group">
                            <a class="btn btn-primary mt-3 ft-plus" (click)="agregarObjetivo()"
                              title="Agregar objetivo"></a>
                          </div>
                        </div> -->

                      </div>

                      <!-- <div class="div" *ngIf="listadoObjetivos.length > 0">
                        <table class="table table-hover table-sm">
                          <thead>
                            <tr>
                              <th>Eje</th>
                              <th>Objetivo</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let objetivo of listadoObjetivos; let i=index">
                              <td>{{ objetivo.CodigoEje }}</td>
                              <td>{{ objetivo.Nombre }}</td>
                              <td><a class="btn btn-danger ft-trash-2" (click)="eliminarObjetivo(i)"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div> -->

                      <div class="row">
                        <div class="col-12">

                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="politica">Politica</label>
                                <ng-select [items]="politicas | async" bindLabel="name" bindValue="id" name="politica" id="politica"
                                  placeholder="Seleccione politica" formControlName="politica">
                                </ng-select>

                              </div>
                              <div *ngIf="politica.invalid && (politica.dirty || politica.touched)"
                                class="help-block mt-1 text-danger">

                                <div *ngIf="politica.errors.required">
                                  <i class="ft-alert-circle align-middle"></i> El campo es requerido
                                </div>

                              </div>

                            </div>

                            <!-- <div class="col-sm-4">
                              <div class="form-group">
                                <a class="btn btn-primary mt-3 ft-plus" (click)="agregarPolitica()"
                                  title="Agregar politica"></a>
                              </div>
                            </div> -->
                          </div>

                          <!-- <div class="div" *ngIf="listadoPoliticas.length > 0">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Politica</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let politica of listadoPoliticas; let i = index">
                                  <td>{{ politica.Nombre }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarPolitica(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div> -->

                        </div>
                      </div>


                      <h5 class="mt-1 mb-0">Clasificador funcional</h5>
                      <hr class="mt-0">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="finalidad">Finalidad</label>
                            <ng-select [items]="listadoTemaComunFinalidad | async" bindLabel="finalidad"
                              bindValue="finalidad" name="finalidad" id="finalidad" placeholder="Seleccione finalidad"
                              (change)="onFinalidadChange()" formControlName="finalidad">
                            </ng-select>

                            <div *ngIf="finalidad.invalid && (finalidad.dirty || finalidad.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="finalidad.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="funcion">Función</label>
                            <ng-select [items]="listadoTemaComunFuncion | async" bindLabel="funcion" bindValue="funcion"
                              name="funcion" id="funcion" placeholder="Seleccione función" (change)="onFuncionChange()"
                              formControlName="funcion">
                            </ng-select>

                            <div *ngIf="funcion.invalid && (funcion.dirty || funcion.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="funcion.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="subFuncion">Sub-función</label>
                            <ng-select [items]="listadoTemaComun | async" bindLabel="nombre"
                              name="subFuncion" id="subFuncion" placeholder="Seleccione sub-función"
                              (change)="onSubFuncionChange()" formControlName="subFuncion">
                            </ng-select>

                            <div *ngIf="subFuncion.invalid && (subFuncion.dirty || subFuncion.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="subFuncion.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                      <h5 class="mt-1 mb-0">Tema común</h5>
                      <hr class="mt-0">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="temaCommun">Tema común</label>
                            <input type="text" [readonly]="true" class="form-control" id="temaCommun" name="temaCommun"
                              formControlName="temaCommun" >

                          </div>
                        </div>

                      </div>


                    </ng-template>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Instituciones</a>
                    <ng-template ngbNavContent>


                      <div class="row">
                        <div class="col-sm-6" *ngIf="nivelDemanda.value == 'Municipales'">
                          <div class="form-group">
                            <label for="tecnico">Técnico OMPP</label>
                            <ng-select [items]="tecnicos | async" bindLabel="name" bindValue="id" name="tecnico"
                              id="tecnico" placeholder="Seleccione el tecnico" formControlName="tecnico">
                            </ng-select>

                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="institucionResponsable">Institución Responsable</label>
                            <ng-select [items]="instituciones | async" bindLabel="name" bindValue="id"
                              name="institucionResponsable" id="institucionResponsable"
                              placeholder="Seleccione Institucion" formControlName="institucionResponsable"
                              (change)="onInstitucionPrimariaChange()">
                            </ng-select>
                            <div
                              *ngIf="institucionResponsable.invalid && (institucionResponsable.dirty || institucionResponsable.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="institucionResponsable.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                      <!-- <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="institucionesColaboradoras">Instituciones colaboradoras</label>
                                <ng-select [items]="instituciones | async" bindLabel="name"
                                  name="institucionesColaboradoras" id="institucionesColaboradoras"
                                  placeholder="Seleccione Institucion" formControlName="institucionesColaboradoras">
                                </ng-select>

                              </div>
                            </div>

                            <div class="col-sm-4">
                              <div class="form-group">
                                <a class="btn btn-primary mt-3 ft-plus" (click)="agregarInstitucion()"
                                  title="Agregar institucion"></a>
                              </div>
                            </div>
                          </div>
                          <div class="div" *ngIf="listadoInstituciones.length > 0">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Instituciones colaboradoras</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let institucion of listadoInstituciones; let i=index">
                                  <td>{{ institucion.Nombre }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarInstitucion(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div> -->

                      <div class="row" *ngIf="nivelDemanda.value == 'Provinciales'">
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="nombreCompletoContacto">Nombre contacto</label>
                            <input type="text" class="form-control" name="nombreCompletoContacto"
                              id="nombreCompletoContacto" formControlName="nombreCompletoContacto">

                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="telefonoContacto">Telefono contacto</label>
                            <input type="text" class="form-control" name="telefonoContacto" id="telefonoContacto"
                              formControlName="telefonoContacto">

                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="descripcionContacto">Descripcion</label>
                            <input type="text" class="form-control" name="descripcionContacto" id="descripcionContacto"
                              formControlName="descripcionContacto">
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <a class="btn btn-primary mt-3 ft-plus" (click)="agregarContacto()"
                              title="Agregar contacto"></a>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="listadoContactos.length > 0">
                        <div class="col-sm-12">
                          <div class="div">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Nombre completo</th>
                                  <th>Telefono</th>
                                  <th>Descripcion</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let contacto of listadoContactos;let i=index">
                                  <td>{{ contacto.nombreCompleto }}</td>
                                  <td>{{ contacto.telefono }}</td>
                                  <td>{{ contacto.descripcion }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarContacto(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </ng-template>

                  </li>

                </ul>
                <div [ngbNavOutlet]="nav"></div>

                <button type="submit" class="btn btn-success mt-2" [disabled]="registerForm.invalid">Enviar</button>
                <a id="formRefresh" (click)="refrescar()" data-toggle="tooltip" data-placement="bottom"
                  title="Refrescar formulario" class="btn btn btn-info btn-md ml-1 mt-2 "><i
                    class="fa fa-refresh"></i></a>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<div>
  <a [routerLink]="['/demandas']" class="btn btn-primary"><span>Volver a listado</span>
  </a>

</div>

<!--modal 3 mapa-->

<div class="row">
  <ng-template #contentMapa let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Seleccione la ubicación geográfica</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-content">
        <div class="card-body">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3 text-secondary bold"><i
                class="fa fa-circle success font-small-2 mr-1 bold"> Coordenada x :</i> {{ coordenadaX.value }}</span>
            <span class="text-uppercase text-secondary bold"><i class="fa fa-circle info font-small-2 mr-1 bold">
                Coordenada y :</i> {{coordenadaY.value}}</span>
          </div>
          <div class="col-xl-12 col-lg-12 col-12">
            <!-- <div id="map" leaflet [leafletOptions]="options" (leafletClick)="manejarClick($event)"
              [leafletLayers]="capas">
            </div> -->

            <div id="map">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Aceptar</button>
    </div>
  </ng-template>


</div>
