<!-- start -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">{{mode}} demandas territoriales</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <div class="div">
              <form (submit)="submit()" [formGroup]="registerForm">

                <!-- modalStart -->

                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Seleccione el nivel de la demanda</h4>
                  </div>
                  <div class="modal-body">

                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label for="nivelDemanda">Nivel de demanda</label>
                          <ng-select [items]="listadoNivelDemandas | async" bindLabel="text" bindValue="value"
                            name="nivelDemanda" id="nivelDemanda" placeholder="Seleccione nivel demanda"
                            formControlName="nivelDemanda">
                          </ng-select>
                          <div *ngIf="nivelDemanda.invalid && (nivelDemanda.dirty || nivelDemanda.touched)"
                            class="help-block mt-1 text-danger">

                            <div *ngIf="nivelDemanda.errors.required">
                              <i class="ft-alert-circle align-middle"></i> El campo es requerido
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a [routerLink]="['/demandas']" class="btn btn-primary"
                      (click)="modal.close('Close click')"><span>Volver a listado</span>
                    </a>
                    <input type="button" value="Continuar" [disabled]="nivelDemanda.invalid" class="btn btn-success"
                      (click)="modal.close('Close click')">
                  </div>

                </ng-template>

                <input type="button" value="ModalOculto" class="btn btn-outline-primary mb-2 mr-2"
                  (click)="openVerticallyCentered(content)" id="miBoton" style='display:none'>

                <!-- endModal -->

                <!-- navStart -->

                <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-between">
                  <li ngbNavItem>
                    <a ngbNavLink>Información de la demanda</a>
                    <ng-template ngbNavContent>

                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="año">Año</label>
                            <ng-select [items]="anios" bindLabel="Year" bindValue="id" name="año" id="año"
                              placeholder="Seleccione año demanda" formControlName="anio">
                            </ng-select>
                            <div *ngIf="anio.invalid && (anio.dirty || anio.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="anio.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="region">Región</label>
                            <ng-select [items]="regiones | async" bindLabel="name" bindValue="id" name="region"
                              id="region" placeholder="Seleccione region" (change)="onRegionChange(region.value)"
                              formControlName="region">
                            </ng-select>

                            <div *ngIf="region.invalid && (region.dirty || region.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="region.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <ng-select [items]="provincias | async" bindLabel="name" bindValue="id" name="provincia"
                              id="provincia" placeholder="Seleccione provincia"
                              (change)="onProvinciaChange(provincia.value)" formControlName="provincia">
                            </ng-select>
                            <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="provincia.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="row">

                        <div class="col-sm-4" *ngIf="nivelDemanda.value == 2">
                          <div class="form-group">
                            <label for="municipio">Municipio</label>
                            <ng-select [items]="municipios | async" bindLabel="name" bindValue="id" name="municipio"
                              id="municipio" placeholder="Seleccione municipio"
                              (change)="onMunicipiosChange(municipio.value)" formControlName="municipio">
                            </ng-select>

                            <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="municipio.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4" *ngIf="nivelDemanda.value == 5">
                          <div class="form-group">
                            <label for="distrito">Distrito municipal</label>
                            <ng-select [items]="distritosMunicipales | async" bindLabel="name" bindValue="id"
                              name="distrito" id="distrito" placeholder="Seleccione distrito"
                              formControlName="distrito">
                            </ng-select>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="fuente">Fuente de demanda</label>
                            <ng-select [items]="fuenteDemandas | async" bindLabel="name" bindValue="id" name="fuente"
                              id="fuente" placeholder="Seleccione fuente" formControlName="fuente">
                            </ng-select>

                            <div *ngIf="fuente.invalid && (fuente.dirty || fuente.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="fuente.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="prioridad">Prioridad</label>
                            <input type="number" min="0" class="form-control" name="prioridad" id="prioridad"
                              formControlName="prioridad">

                              <div *ngIf="prioridad.invalid && (prioridad.dirty || prioridad.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="prioridad.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="demanda">Demanda</label>
                            <textarea class="form-control" name="demanda" id="demanda" rows="3"
                              formControlName="demanda"></textarea>

                            <div *ngIf="demanda.invalid && (demanda.dirty || demanda.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="demanda.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                              <div *ngIf="demanda.errors.minlength">
                                <i class="ft-alert-circle align-middle"></i> Sea un poco mas descriptivo por favor
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>


                      <div class="row">

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="tipo">Tipo(s) inversion</label>
                            <ng-select class="primary" [multiple]="true" [items]="tipoInversiones | async"
                              bindLabel="name" bindValue="id" name="tipo" id="tipo"
                              placeholder="Seleccione los tipos de inversion" (change)="onTipoChange()"
                              formControlName="tiposInversion">
                            </ng-select>
                            <div *ngIf="tiposInversion.invalid && (tiposInversion.dirty || tiposInversion.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="tiposInversion.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                          <div class="form-group">
                            <div *ngIf="otrosTiposShow">
                              <label for="otrosTiposInversion">Especifíque otro</label>
                              <input type="text" class="form-control" id="otrosTiposInversion"
                                name="otrosTiposInversion" formControlName="otrosTiposInversion">

                              <div
                                *ngIf="otrosTiposInversion.invalid && (otrosTiposInversion.dirty || otrosTiposInversion.touched)"
                                class="help-block mt-1 text-danger">

                                <div *ngIf="otrosTiposInversion.errors.required">
                                  <i class="ft-alert-circle align-middle"></i> El campo es requerido
                                </div>

                              </div>
                            </div>
                          </div>

                        </div>

                      </div>



                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-sm-9">
                              <div class="form-group">
                                <label for="actividad">Actividades</label>
                                <input type="text" class="form-control" formControlName="actividad">
                              </div>
                            </div>

                            <div class="col-sm-3">
                              <div class="form-group">
                                <a class="btn btn-primary mt-3 ft-plus" (click)="agregarActividad()"
                                  title="Agregar actividad"></a>
                              </div>
                            </div>
                          </div>

                          <div class="div" *ngIf="listadoActividades">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Actividad</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let actividad of listadoActividades;let i=index">
                                  <td>{{ actividad.Actividad }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarActividad(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div>

                      <!-- <div>
                        <span>Agregar Beneficiarios</span>
                        <hr>
                      </div> -->

                      <div class="row">

                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="tipo">Tipo Beneficiarios</label>
                            <ng-select [items]="listadoTipoBeneficiarios | async" bindLabel="name" name="tipo" id="tipo"
                              placeholder="Seleccione tipo" formControlName="tipo">
                            </ng-select>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="tipo">Categoria Beneficiarios</label>
                            <ng-select [items]="listadoCategoriaBeneficiarios | async" bindLabel="name" name="categoria"
                              id="categoria" placeholder="Seleccione categoria" formControlName="categoria">
                            </ng-select>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="cantidad">Cantidad beneficiarios</label>
                            <input type="number" min="0" class="form-control" name="cantidad" id="cantidad"
                              formControlName="cantidad">
                          </div>
                        </div>

                        <div class="col-md-2 mt-3">
                          <div class="form-group">
                            <a class="btn btn-primary ft-plus" (click)="agregarBeneficiario()"></a>
                          </div>
                        </div>

                      </div>

                      <div class="div" *ngIf="listadoBeneficiarios">
                        <table class="table table-hover table-sm">
                          <thead>
                            <tr>
                              <th>Tipo Beneficiario</th>
                              <th>Categoria Beneficiario</th>
                              <th>Cantidad</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let beneficiario of listadoBeneficiarios; let i = index">
                              <td>{{ beneficiario.tipoNombre }}</td>
                              <td>{{ beneficiario.categoriaNombre }}</td>
                              <td>{{ beneficiario.cantidad | number:'1.2-2' }}</td>
                              <td><a class="btn btn-danger ft-trash-2" (click)="removerBeneficiario(i)"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>



                      <div class="form-group">
                        <label for="comentarios">Comentarios</label>
                        <textarea class="form-control" formControlName="comentarios" rows="3">
                          </textarea>
                      </div>

                    </ng-template>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Vinculacion con END y PNPSP</a>
                    <ng-template ngbNavContent>

                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label for="eje">Eje End</label><br>
                            <div class="btn-group" ngbRadioGroup name="radioBasic1" formControlName="eje"
                              (change)="onEjeChange(eje.value)">
                              <label *ngFor="let eje of ejesEnd | async" ngbButtonLabel
                                class="btn-outline-{{eje.extraInfo}}">
                                <input ngbButton type="radio" [value]="eje.id"> {{eje.name}}
                              </label>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="objetivo">Objetivo</label>
                            <ng-select [items]="objetivosEnd | async" bindLabel="name" name="objetivo" id="objetivo"
                              placeholder="Seleccione objetivo" formControlName="objetivo">
                            </ng-select>

                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <a class="btn btn-primary mt-3 ft-plus" (click)="agregarObjetivo()"
                              title="Agregar objetivo"></a>
                          </div>
                        </div>

                      </div>

                      <div class="div" *ngIf="listadoObjetivos">
                        <table class="table table-hover table-sm">
                          <thead>
                            <tr>
                              <th>Eje</th>
                              <th>Objetivo</th>
                              <th>Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let objetivo of listadoObjetivos; let i=index">
                              <td>{{ objetivo.CodigoEje }}</td>
                              <td>{{ objetivo.Nombre }}</td>
                              <td><a class="btn btn-danger ft-trash-2" (click)="eliminarObjetivo(i)"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="row">
                        <div class="col-12">

                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="politica">Politica</label>
                                <ng-select [items]="politicas | async" bindLabel="name" name="politica" id="politica"
                                  placeholder="Seleccione politica" formControlName="politica">
                                </ng-select>

                              </div>
                            </div>

                            <div class="col-sm-4">
                              <div class="form-group">
                                <a class="btn btn-primary mt-3 ft-plus" (click)="agregarPolitica()"
                                  title="Agregar politica"></a>
                              </div>
                            </div>
                          </div>

                          <div class="div" *ngIf="listadoPoliticas">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Politica</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let politica of listadoPoliticas; let i = index">
                                  <td>{{ politica.Nombre }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarPolitica(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="temaComun">Tema comun</label>
                            <ng-select [items]="listadoTemaComun | async" bindLabel="nombre" bindValue="id" name="temaComun" id="temaComun"
                              placeholder="Seleccione tema comun" formControlName="temaComunId">
                            </ng-select>

                            <div
                            *ngIf="temaComunId.invalid && (temaComunId.dirty || temaComunId.touched)"
                            class="help-block mt-1 text-danger">

                            <div *ngIf="temaComunId.errors.required">
                              <i class="ft-alert-circle align-middle"></i> El campo es requerido
                            </div>

                          </div>
                          </div>
                        </div>

                      </div>

                    </ng-template>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Instituciones involucaradas</a>
                    <ng-template ngbNavContent>


                      <div class="row">
                        <div class="col-sm-6" *ngIf="nivelDemanda.value == 2">
                          <div class="form-group">
                            <label for="tecnico">Técnico OMPP</label>
                            <ng-select [items]="tecnicos | async" bindLabel="name" bindValue="id" name="tecnico"
                              id="tecnico" placeholder="Seleccione el tecnico" formControlName="tecnico">
                            </ng-select>

                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="institucionResponsable">Institucion primaria</label>
                            <ng-select [items]="instituciones | async" bindLabel="name" bindValue="id"
                              name="institucionResponsable" id="institucionResponsable"
                              placeholder="Seleccione Institucion" formControlName="institucionResponsable"
                              (change)="onInstitucionPrimariaChange()">
                            </ng-select>
                            <div
                              *ngIf="institucionResponsable.invalid && (institucionResponsable.dirty || institucionResponsable.touched)"
                              class="help-block mt-1 text-danger">

                              <div *ngIf="institucionResponsable.errors.required">
                                <i class="ft-alert-circle align-middle"></i> El campo es requerido
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="institucionesColaboradoras">Instituciones colaboradoras</label>
                                <ng-select [items]="instituciones | async" bindLabel="name"
                                  name="institucionesColaboradoras" id="institucionesColaboradoras"
                                  placeholder="Seleccione Institucion" formControlName="institucionesColaboradoras">
                                </ng-select>

                              </div>
                            </div>

                            <div class="col-sm-4">
                              <div class="form-group">
                                <a class="btn btn-primary mt-3 ft-plus" (click)="agregarInstitucion()"
                                  title="Agregar institucion"></a>
                              </div>
                            </div>
                          </div>
                          <div class="div" *ngIf="listadoInstituciones">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Instituciones colaboradoras</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let institucion of listadoInstituciones; let i=index">
                                  <td>{{ institucion.Nombre }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarInstitucion(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="nivelDemanda.value == 1">
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="nombreCompletoContacto">Nombre contacto</label>
                            <input type="text" class="form-control" name="nombreCompletoContacto"
                              id="nombreCompletoContacto" formControlName="nombreCompletoContacto">

                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="telefonoContacto">Telefono contacto</label>
                            <input type="text" class="form-control" name="telefonoContacto" id="telefonoContacto"
                              formControlName="telefonoContacto">

                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label for="descripcionContacto">Descripcion</label>
                            <input type="text" class="form-control" name="descripcionContacto"
                              id="descripcionContacto" formControlName="descripcionContacto">
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <a class="btn btn-primary mt-3 ft-plus" (click)="agregarContacto()"
                              title="Agregar contacto"></a>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="listadoContactos">
                        <div class="col-sm-12">
                          <div class="div">
                            <table class="table table-hover table-sm">
                              <thead>
                                <tr>
                                  <th>Nombre completo</th>
                                  <th>Telefono</th>
                                  <th>Descripcion</th>
                                  <th>Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let contacto of listadoContactos;let i=index">
                                  <td>{{ contacto.nombreCompleto }}</td>
                                  <td>{{ contacto.telefono }}</td>
                                  <td>{{ contacto.descripcion }}</td>
                                  <td><a class="btn btn-danger ft-trash-2" (click)="eliminarContacto(i)"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </ng-template>

                  </li>

                </ul>
                <div [ngbNavOutlet]="nav"></div>

                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Enviar</button>
                <a id="formRefresh" (click)="refrescar()" data-toggle="tooltip" data-placement="bottom"
                  title="Refrescar formulario" class="btn btn btn-info btn-md ml-1"><i class="fa fa-refresh"></i></a>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>

<div>
  <a [routerLink]="['/demandas']" class="btn btn-primary"><span>Volver a listado</span>
  </a>

</div>
