
::ng-deep ng-select.primary .ng-value-icon, ::ng-deep ng-select.primary .ng-value-label {
  background-color: #003876 !important;
  border: 1px solid #fff !important;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

#map {
  height: 550px;
  width: 380%;
  max-width: 730px;
  //margin-bottom: 1rem;
  //margin-top: 20px;
  margin: auto;
}
.mapaselect{
  font-size: 21px;
  padding-left: 16px;
  color: #2f8be6;
}

.card .bg-info {
  margin: 0;
  background-color: #2F8BE6 !important;
  margin-bottom: 1;
}

